.row.wrapper.border-bottom.white-bg.page-heading
  .col-lg-10
    %h2 Blog
    %ol.breadcrumb
      %li
        %a{:href => "index.html"} Home
      %li
        %a Miscellaneous
      %li.active
        %strong Blog
  .col-lg-2
.wrapper.wrapper-content.animated.fadeInRight.blog
  .row
    .col-lg-4
      .ibox
        .ibox-content
          %a.btn-link{:href => "#{url_for :controller => 'appviews', :action => 'article'}"}
            %h2
              One morning, when Gregor Samsa
          .small.m-b-xs
            %strong Adam Novak
            %span.text-muted
              %i.fa.fa-clock-o
              28th Oct 2015
          %p
            English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web
          .row
            .col-md-6
              %h5 Tags:
              %button.btn.btn-primary.btn-xs{:type => "button"} Model
              %button.btn.btn-white.btn-xs{:type => "button"} Publishing
            .col-md-6
              .small.text-right
                %h5 Stats:
                %div
                  %i.fa.fa-comments-o
                  56 comments
                %i.fa.fa-eye
                144 views
      .ibox
        .ibox-content
          %a.btn-link{:href => "#{url_for :controller => 'appviews', :action => 'article'}"}
            %h2
              It showed a lady fitted out with
          .small.m-b-xs
            %strong Mike Smith
            %span.text-muted
              %i.fa.fa-clock-o
              11th May 2015
          %p
            The bedding was hardly able to cover it and seemed ready to slide off any moment. His many legs, pitifully thin compared with the size of.
          %p
            No one rejects, dislikes, or avoids pleasure itself, because it is pleasure, but because those who do not know how to pursue pleasure rationally encounter consequences
          .row
            .col-md-6
              %h5 Tags:
              %button.btn.btn-primary.btn-xs{:type => "button"} New
              %button.btn.btn-white.btn-xs{:type => "button"} Model
              %button.btn.btn-white.btn-xs{:type => "button"} Publishing
            .col-md-6
              .small.text-right
                %h5 Stats:
                %div
                  %i.fa.fa-comments-o
                  36 comments
                %i.fa.fa-eye
                100 views
      .ibox
        .ibox-content
          %a.btn-link{:href => "#{url_for :controller => 'appviews', :action => 'article'}"}
            %h2
              The bedding was hardly able to cover
          .small.m-b-xs
            %strong Anthony Dvorak
            %span.text-muted
              %i.fa.fa-clock-o
              11th Dec 2014
          %p
            A collection of textile samples lay spread out on the table - Samsa was a travelling salesman.
          .row
            .col-md-6
              %h5 Tags:
              %button.btn.btn-white.btn-xs{:type => "button"} Publishing
            .col-md-6
              .small.text-right
                %h5 Stats:
                %div
                  %i.fa.fa-comments-o
                  11 comments
                %i.fa.fa-eye
                46 views
    .col-lg-4
      .ibox
        .ibox-content
          %a.btn-link{:href => "#{url_for :controller => 'appviews', :action => 'article'}"}
            %h2
              Junk MTV quiz graced by fox whelps.
          .small.m-b-xs
            %strong alex Trebek
            %span.text-muted
              %i.fa.fa-clock-o
              07 Apr 2015
          %p
            Alex Trebek's fun TV quiz game. Woven silk pyjamas exchanged for blue quartz. Brawny gods just zebra, and my wolves quack! Blowzy red vixens fight for a quick.
          %p
            On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized by the.
          .row
            .col-md-6
              %h5 Tags:
              %button.btn.btn-white.btn-xs{:type => "button"} Model
              %button.btn.btn-white.btn-xs{:type => "button"} Publishing
              %button.btn.btn-white.btn-xs{:type => "button"} Modern
              %button.btn.btn-white.btn-xs{:type => "button"} Premium
            .col-md-6
              .small.text-right
                %h5 Stats:
                %div
                  %i.fa.fa-comments-o
                  23 comments
                %i.fa.fa-eye
                34 views
      .ibox
        .ibox-content
          %a.btn-link{:href => "#{url_for :controller => 'appviews', :action => 'article'}"}
            %h2
              Two driven jocks help fax my big
          .small.m-b-xs
            %strong Monica Jackson
            %span.text-muted
              %i.fa.fa-clock-o
              14th Oct 2015
          %p
            Flummoxed by job, kvetching W. zaps Iraq. Cozy sphinx waves quart jug of bad milk. A very bad quack might jinx zippy fowls. Few quips galvanized
          %p
            It wasn't a dream. His room, a proper human room although a little too small, lay peacefully between its four familiar walls.
          .row
            .col-md-6
              %h5 Tags:
              %button.btn.btn-white.btn-xs{:type => "button"} Modern
              %button.btn.btn-white.btn-xs{:type => "button"} Model
            .col-md-6
              .small.text-right
                %h5 Stats:
                %div
                  %i.fa.fa-comments-o
                  32 comments
                %i.fa.fa-eye
                10 views
      .ibox
        .ibox-content
          %a.btn-link{:href => "#{url_for :controller => 'appviews', :action => 'article'}"}
            %h2
              I feel the presence of the Almighty
          .small.m-b-xs
            %strong John Smith
            %span.text-muted
              %i.fa.fa-clock-o
              04 Dec 2015
          %p
            I hear the buzz of the little world among the stalks, and grow familiar with the countless indescribable forms of the insects and flies, then I feel the presence of the Almighty, who formed us in his own image, and the breath
            Gregor then turned to look out the window at the dull weather.
          .row
            .col-md-6
              %h5 Tags:
              %button.btn.btn-white.btn-xs{:type => "button"} Publishing
              %button.btn.btn-white.btn-xs{:type => "button"} Premium
            .col-md-6
              .small.text-right
                %h5 Stats:
                %div
                  %i.fa.fa-comments-o
                  22 comments
                %i.fa.fa-eye
                17 views
    .col-lg-4
      .ibox
        .ibox-content
          %a.btn-link{:href => "#{url_for :controller => 'appviews', :action => 'article'}"}
            %h2
              The European languages are members
          .small.m-b-xs
            %strong Anthony Pits
            %span.text-muted
              %i.fa.fa-clock-o
              04 Jan 2015
          %p
            The languages only differ in their grammar, their pronunciation and their most common words. Everyone realizes why a new common language would be desirable: one could refuse to pay expensive translators.
          .row
            .col-md-6
              %h5 Tags:
              %button.btn.btn-primary.btn-xs{:type => "button"} Publishing
              %button.btn.btn-white.btn-xs{:type => "button"} Model
            .col-md-6
              .small.text-right
                %h5 Stats:
                %div
                  %i.fa.fa-comments-o
                  54 comments
                %i.fa.fa-eye
                52 views
      .ibox
        .ibox-content
          %a.btn-link{:href => "#{url_for :controller => 'appviews', :action => 'article'}"}
            %h2
              The new common language
          .small.m-b-xs
            %strong Adam Novak
            %span.text-muted
              %i.fa.fa-clock-o
              14th Oct 2015
          %p
            English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web
          %p
            The bedding was hardly able to cover it and seemed ready to slide off any moment. His many legs, pitifully thin compared with the size of the rest of him, waved about helplessly as he
          .row
            .col-md-6
              %h5 Tags:
              %button.btn.btn-white.btn-xs{:type => "button"} Publishing
              %button.btn.btn-white.btn-xs{:type => "button"} Model
              %button.btn.btn-white.btn-xs{:type => "button"} Premium
            .col-md-6
              .small.text-right
                %h5 Stats:
                %div
                  %i.fa.fa-comments-o
                  47 comments
                %i.fa.fa-eye
                138 views
      .ibox
        .ibox-content
          %a.btn-link{:href => "#{url_for :controller => 'appviews', :action => 'article'}"}
            %h2
              Their pronunciation and their most
          .small.m-b-xs
            %strong Mike Johnson
            %span.text-muted
              %i.fa.fa-clock-o
              11th Oct 2015
          %p
            To take a trivial example, which of us ever undertakes laborious physical exercise, except to obtain some advantage from it? But who has any right to find fault with a man who chooses
          .row
            .col-md-6
              %h5 Tags:
              %button.btn.btn-primary.btn-xs{:type => "button"} Publishing
              %button.btn.btn-white.btn-xs{:type => "button"} Model
            .col-md-6
              .small.text-right
                %h5 Stats:
                %div
                  %i.fa.fa-comments-o
                  54 comments
                %i.fa.fa-eye
                52 views
