.row.wrapper.border-bottom.white-bg.page-heading
  .col-lg-9
    %h2 Contacts
    %ol.breadcrumb
      %li
        %a{:href => "#{url_for :controller => 'dashboards', :action => 'dashboard_1'}"} Home
      %li
        App Views
      %li.active
        %strong Contacts
.wrapper.wrapper-content.animated.fadeInRight
  .row
    .col-lg-4
      .contact-box
        %a{:href => "#{url_for :controller => 'appviews', :action => 'profile'}"}
          .col-sm-4
            .text-center
              %img.img-circle.m-t-xs.img-responsive{:alt => "image", :src => "#{image_path('a2.jpg')}"}/
              .m-t-xs.font-bold Graphics designer
          .col-sm-8
            %h3
              %strong John Smith
            %p
              %i.fa.fa-map-marker
              Riviera State 32/106
            %address
              %strong Twitter, Inc.
              %br/
              795 Folsom Ave, Suite 600
              %br/
              San Francisco, CA 94107
              %br/
              %abbr{:title => "Phone"} P:
              (123) 456-7890
          .clearfix
    .col-lg-4
      .contact-box
        %a{:href => "#{url_for :controller => 'appviews', :action => 'profile'}"}
          .col-sm-4
            .text-center
              %img.img-circle.m-t-xs.img-responsive{:alt => "image", :src => "#{image_path('a1.jpg')}"}/
              .m-t-xs.font-bold CEO
          .col-sm-8
            %h3
              %strong Alex Johnatan
            %p
              %i.fa.fa-map-marker
              Riviera State 32/106
            %address
              %strong Twitter, Inc.
              %br/
              795 Folsom Ave, Suite 600
              %br/
              San Francisco, CA 94107
              %br/
              %abbr{:title => "Phone"} P:
              (123) 456-7890
          .clearfix
    .col-lg-4
      .contact-box
        %a{:href => "#{url_for :controller => 'appviews', :action => 'profile'}"}
          .col-sm-4
            .text-center
              %img.img-circle.m-t-xs.img-responsive{:alt => "image", :src => "#{image_path('a3.jpg')}"}/
              .m-t-xs.font-bold Marketing manager
          .col-sm-8
            %h3
              %strong Monica Smith
            %p
              %i.fa.fa-map-marker
              Riviera State 32/106
            %address
              %strong Twitter, Inc.
              %br/
              795 Folsom Ave, Suite 600
              %br/
              San Francisco, CA 94107
              %br/
              %abbr{:title => "Phone"} P:
              (123) 456-7890
          .clearfix
    .col-lg-4
      .contact-box
        %a{:href => "#{url_for :controller => 'appviews', :action => 'profile'}"}
          .col-sm-4
            .text-center
              %img.img-circle.m-t-xs.img-responsive{:alt => "image", :src => "#{image_path('a4.jpg')}"}/
              .m-t-xs.font-bold Sales manager
          .col-sm-8
            %h3
              %strong Michael Zimber
            %p
              %i.fa.fa-map-marker
              Riviera State 32/106
            %address
              %strong Twitter, Inc.
              %br/
              795 Folsom Ave, Suite 600
              %br/
              San Francisco, CA 94107
              %br/
              %abbr{:title => "Phone"} P:
              (123) 456-7890
          .clearfix
    .col-lg-4
      .contact-box
        %a{:href => "#{url_for :controller => 'appviews', :action => 'profile'}"}
          .col-sm-4
            .text-center
              %img.img-circle.m-t-xs.img-responsive{:alt => "image", :src => "#{image_path('a5.jpg')}"}/
              .m-t-xs.font-bold Graphics designer
          .col-sm-8
            %h3
              %strong Sandra Smith
            %p
              %i.fa.fa-map-marker
              Riviera State 32/106
            %address
              %strong Twitter, Inc.
              %br/
              795 Folsom Ave, Suite 600
              %br/
              San Francisco, CA 94107
              %br/
              %abbr{:title => "Phone"} P:
              (123) 456-7890
          .clearfix
    .col-lg-4
      .contact-box
        %a{:href => "#{url_for :controller => 'appviews', :action => 'profile'}"}
          .col-sm-4
            .text-center
              %img.img-circle.m-t-xs.img-responsive{:alt => "image", :src => "#{image_path('a6.jpg')}"}/
              .m-t-xs.font-bold Graphics designer
          .col-sm-8
            %h3
              %strong Janet Carton
            %p
              %i.fa.fa-map-marker
              Riviera State 32/106
            %address
              %strong Twitter, Inc.
              %br/
              795 Folsom Ave, Suite 600
              %br/
              San Francisco, CA 94107
              %br/
              %abbr{:title => "Phone"} P:
              (123) 456-7890
          .clearfix
    .col-lg-4
      .contact-box
        %a{:href => "#{url_for :controller => 'appviews', :action => 'profile'}"}
          .col-sm-4
            .text-center
              %img.img-circle.m-t-xs.img-responsive{:alt => "image", :src => "#{image_path('a1.jpg')}"}/
              .m-t-xs.font-bold CEO
          .col-sm-8
            %h3
              %strong Alex Johnatan
            %p
              %i.fa.fa-map-marker
              Riviera State 32/106
            %address
              %strong Twitter, Inc.
              %br/
              795 Folsom Ave, Suite 600
              %br/
              San Francisco, CA 94107
              %br/
              %abbr{:title => "Phone"} P:
              (123) 456-7890
          .clearfix
    .col-lg-4
      .contact-box
        %a{:href => "#{url_for :controller => 'appviews', :action => 'profile'}"}
          .col-sm-4
            .text-center
              %img.img-circle.m-t-xs.img-responsive{:alt => "image", :src => "#{image_path('a2.jpg')}"}/
              .m-t-xs.font-bold Graphics designer
          .col-sm-8
            %h3
              %strong John Smith
            %p
              %i.fa.fa-map-marker
              Riviera State 32/106
            %address
              %strong Twitter, Inc.
              %br/
              795 Folsom Ave, Suite 600
              %br/
              San Francisco, CA 94107
              %br/
              %abbr{:title => "Phone"} P:
              (123) 456-7890
          .clearfix
    .col-lg-4
      .contact-box
        %a{:href => "#{url_for :controller => 'appviews', :action => 'profile'}"}
          .col-sm-4
            .text-center
              %img.img-circle.m-t-xs.img-responsive{:alt => "image", :src => "#{image_path('a3.jpg')}"}/
              .m-t-xs.font-bold Marketing manager
          .col-sm-8
            %h3
              %strong Monica Smith
            %p
              %i.fa.fa-map-marker
              Riviera State 32/106
            %address
              %strong Twitter, Inc.
              %br/
              795 Folsom Ave, Suite 600
              %br/
              San Francisco, CA 94107
              %br/
              %abbr{:title => "Phone"} P:
              (123) 456-7890
          .clearfix
    .col-lg-4
      .contact-box
        %a{:href => "#{url_for :controller => 'appviews', :action => 'profile'}"}
          .col-sm-4
            .text-center
              %img.img-circle.m-t-xs.img-responsive{:alt => "image", :src => "#{image_path('a4.jpg')}"}/
              .m-t-xs.font-bold Sales manager
          .col-sm-8
            %h3
              %strong Michael Zimber
            %p
              %i.fa.fa-map-marker
              Riviera State 32/106
            %address
              %strong Twitter, Inc.
              %br/
              795 Folsom Ave, Suite 600
              %br/
              San Francisco, CA 94107
              %br/
              %abbr{:title => "Phone"} P:
              (123) 456-7890
          .clearfix
    .col-lg-4
      .contact-box
        %a{:href => "#{url_for :controller => 'appviews', :action => 'profile'}"}
          .col-sm-4
            .text-center
              %img.img-circle.m-t-xs.img-responsive{:alt => "image", :src => "#{image_path('a5.jpg')}"}/
              .m-t-xs.font-bold Graphics designer
          .col-sm-8
            %h3
              %strong Sandra Smith
            %p
              %i.fa.fa-map-marker
              Riviera State 32/106
            %address
              %strong Twitter, Inc.
              %br/
              795 Folsom Ave, Suite 600
              %br/
              San Francisco, CA 94107
              %br/
              %abbr{:title => "Phone"} P:
              (123) 456-7890
          .clearfix
    .col-lg-4
      .contact-box
        %a{:href => "#{url_for :controller => 'appviews', :action => 'profile'}"}
          .col-sm-4
            .text-center
              %img.img-circle.m-t-xs.img-responsive{:alt => "image", :src => "#{image_path('a6.jpg')}"}/
              .m-t-xs.font-bold Graphics designer
          .col-sm-8
            %h3
              %strong Janet Carton
            %p
              %i.fa.fa-map-marker
              Riviera State 32/106
            %address
              %strong Twitter, Inc.
              %br/
              795 Folsom Ave, Suite 600
              %br/
              San Francisco, CA 94107
              %br/
              %abbr{:title => "Phone"} P:
              (123) 456-7890
          .clearfix
    .col-lg-4
      .contact-box
        %a{:href => "#{url_for :controller => 'appviews', :action => 'profile'}"}
          .col-sm-4
            .text-center
              %img.img-circle.m-t-xs.img-responsive{:alt => "image", :src => "#{image_path('a1.jpg')}"}/
              .m-t-xs.font-bold CEO
          .col-sm-8
            %h3
              %strong Alex Johnatan
            %p
              %i.fa.fa-map-marker
              Riviera State 32/106
            %address
              %strong Twitter, Inc.
              %br/
              795 Folsom Ave, Suite 600
              %br/
              San Francisco, CA 94107
              %br/
              %abbr{:title => "Phone"} P:
              (123) 456-7890
          .clearfix
    .col-lg-4
      .contact-box
        %a{:href => "#{url_for :controller => 'appviews', :action => 'profile'}"}
          .col-sm-4
            .text-center
              %img.img-circle.m-t-xs.img-responsive{:alt => "image", :src => "#{image_path('a2.jpg')}"}/
              .m-t-xs.font-bold Graphics designer
          .col-sm-8
            %h3
              %strong John Smith
            %p
              %i.fa.fa-map-marker
              Riviera State 32/106
            %address
              %strong Twitter, Inc.
              %br/
              795 Folsom Ave, Suite 600
              %br/
              San Francisco, CA 94107
              %br/
              %abbr{:title => "Phone"} P:
              (123) 456-7890
          .clearfix
- content_for :javascript do
  :javascript
    $(function () {
    
        $('.contact-box').each(function () {
            animationHover(this, 'pulse');
        });
    
    });
