.row.wrapper.border-bottom.white-bg.page-heading
  .col-lg-9
    %h2 Contacts 2
    %ol.breadcrumb
      %li
        %a{:href => "#{url_for :controller => 'dashboards', :action => 'dashboard_1'}"} Home
      %li
        App Views
      %li.active
        %strong Contacts 2
.wrapper.wrapper-content.animated.fadeInRight
  .row
    .col-lg-3
      .contact-box.center-version
        %a{:href => "profile.html"}
          %img.img-circle{:alt => "image", :src => "#{image_path('a2.jpg')}"}/
          %h3.m-b-xs
            %strong John Smith
          .font-bold Graphics designer
          %address.m-t-md
            %strong Twitter, Inc.
            %br/
            795 Folsom Ave, Suite 600
            %br/
            San Francisco, CA 94107
            %br/
            %abbr{:title => "Phone"} P:
            (123) 456-7890
        .contact-box-footer
          .m-t-xs.btn-group
            %a.btn.btn-xs.btn-white
              %i.fa.fa-phone
              Call
            %a.btn.btn-xs.btn-white
              %i.fa.fa-envelope
              Email
            %a.btn.btn-xs.btn-white
              %i.fa.fa-user-plus
              Follow
    .col-lg-3
      .contact-box.center-version
        %a{:href => "profile.html"}
          %img.img-circle{:alt => "image", :src => "#{image_path('a1.jpg')}"}/
          %h3.m-b-xs
            %strong Alex Johnatan
          .font-bold CEO
          %address.m-t-md
            %strong Twitter, Inc.
            %br/
            795 Folsom Ave, Suite 600
            %br/
            San Francisco, CA 94107
            %br/
            %abbr{:title => "Phone"} P:
            (123) 456-7890
        .contact-box-footer
          .m-t-xs.btn-group
            %a.btn.btn-xs.btn-white
              %i.fa.fa-phone
              Call
            %a.btn.btn-xs.btn-white
              %i.fa.fa-envelope
              Email
            %a.btn.btn-xs.btn-white
              %i.fa.fa-user-plus
              Follow
    .col-lg-3
      .contact-box.center-version
        %a{:href => "profile.html"}
          %img.img-circle{:alt => "image", :src => "#{image_path('a3.jpg')}"}/
          %h3.m-b-xs
            %strong Monica Smith
          .font-bold Marketing manager
          %address.m-t-md
            %strong Twitter, Inc.
            %br/
            795 Folsom Ave, Suite 600
            %br/
            San Francisco, CA 94107
            %br/
            %abbr{:title => "Phone"} P:
            (123) 456-7890
        .contact-box-footer
          .m-t-xs.btn-group
            %a.btn.btn-xs.btn-white
              %i.fa.fa-phone
              Call
            %a.btn.btn-xs.btn-white
              %i.fa.fa-envelope
              Email
            %a.btn.btn-xs.btn-white
              %i.fa.fa-user-plus
              Follow
    .col-lg-3
      .contact-box.center-version
        %a{:href => "profile.html"}
          %img.img-circle{:alt => "image", :src => "#{image_path('a4.jpg')}"}/
          %h3.m-b-xs
            %strong Michael Zimber
          .font-bold Sales manager
          %address.m-t-md
            %strong Twitter, Inc.
            %br/
            795 Folsom Ave, Suite 600
            %br/
            San Francisco, CA 94107
            %br/
            %abbr{:title => "Phone"} P:
            (123) 456-7890
        .contact-box-footer
          .m-t-xs.btn-group
            %a.btn.btn-xs.btn-white
              %i.fa.fa-phone
              Call
            %a.btn.btn-xs.btn-white
              %i.fa.fa-envelope
              Email
            %a.btn.btn-xs.btn-white
              %i.fa.fa-user-plus
              Follow
    .col-lg-3
      .contact-box.center-version
        %a{:href => "profile.html"}
          %img.img-circle{:alt => "image", :src => "#{image_path('a5.jpg')}"}/
          %h3.m-b-xs
            %strong Sandra Smith
          .font-bold Graphics designer
          %address.m-t-md
            %strong Twitter, Inc.
            %br/
            795 Folsom Ave, Suite 600
            %br/
            San Francisco, CA 94107
            %br/
            %abbr{:title => "Phone"} P:
            (123) 456-7890
        .contact-box-footer
          .m-t-xs.btn-group
            %a.btn.btn-xs.btn-white
              %i.fa.fa-phone
              Call
            %a.btn.btn-xs.btn-white
              %i.fa.fa-envelope
              Email
            %a.btn.btn-xs.btn-white
              %i.fa.fa-user-plus
              Follow
    .col-lg-3
      .contact-box.center-version
        %a{:href => "profile.html"}
          %img.img-circle{:alt => "image", :src => "#{image_path('a6.jpg')}"}/
          %h3.m-b-xs
            %strong Janet Carton
          .font-bold CFO
          %address.m-t-md
            %strong Twitter, Inc.
            %br/
            795 Folsom Ave, Suite 600
            %br/
            San Francisco, CA 94107
            %br/
            %abbr{:title => "Phone"} P:
            (123) 456-7890
        .contact-box-footer
          .m-t-xs.btn-group
            %a.btn.btn-xs.btn-white
              %i.fa.fa-phone
              Call
            %a.btn.btn-xs.btn-white
              %i.fa.fa-envelope
              Email
            %a.btn.btn-xs.btn-white
              %i.fa.fa-user-plus
              Follow
    .col-lg-3
      .contact-box.center-version
        %a{:href => "profile.html"}
          %img.img-circle{:alt => "image", :src => "#{image_path('a1.jpg')}"}/
          %h3.m-b-xs
            %strong Alex Johnatan
          .font-bold CEO
          %address.m-t-md
            %strong Twitter, Inc.
            %br/
            795 Folsom Ave, Suite 600
            %br/
            San Francisco, CA 94107
            %br/
            %abbr{:title => "Phone"} P:
            (123) 456-7890
        .contact-box-footer
          .m-t-xs.btn-group
            %a.btn.btn-xs.btn-white
              %i.fa.fa-phone
              Call
            %a.btn.btn-xs.btn-white
              %i.fa.fa-envelope
              Email
            %a.btn.btn-xs.btn-white
              %i.fa.fa-user-plus
              Follow
    .col-lg-3
      .contact-box.center-version
        %a{:href => "profile.html"}
          %img.img-circle{:alt => "image", :src => "#{image_path('a7.jpg')}"}/
          %h3.m-b-xs
            %strong John Smith
          .font-bold Graphics designer
          %address.m-t-md
            %strong Twitter, Inc.
            %br/
            795 Folsom Ave, Suite 600
            %br/
            San Francisco, CA 94107
            %br/
            %abbr{:title => "Phone"} P:
            (123) 456-7890
        .contact-box-footer
          .m-t-xs.btn-group
            %a.btn.btn-xs.btn-white
              %i.fa.fa-phone
              Call
            %a.btn.btn-xs.btn-white
              %i.fa.fa-envelope
              Email
            %a.btn.btn-xs.btn-white
              %i.fa.fa-user-plus
              Follow
    .col-lg-3
      .contact-box.center-version
        %a{:href => "profile.html"}
          %img.img-circle{:alt => "image", :src => "#{image_path('a2.jpg')}"}/
          %h3.m-b-xs
            %strong John Smith
          .font-bold Graphics designer
          %address.m-t-md
            %strong Twitter, Inc.
            %br/
            795 Folsom Ave, Suite 600
            %br/
            San Francisco, CA 94107
            %br/
            %abbr{:title => "Phone"} P:
            (123) 456-7890
        .contact-box-footer
          .m-t-xs.btn-group
            %a.btn.btn-xs.btn-white
              %i.fa.fa-phone
              Call
            %a.btn.btn-xs.btn-white
              %i.fa.fa-envelope
              Email
            %a.btn.btn-xs.btn-white
              %i.fa.fa-user-plus
              Follow
    .col-lg-3
      .contact-box.center-version
        %a{:href => "profile.html"}
          %img.img-circle{:alt => "image", :src => "#{image_path('a1.jpg')}"}/
          %h3.m-b-xs
            %strong Alex Johnatan
          .font-bold CEO
          %address.m-t-md
            %strong Twitter, Inc.
            %br/
            795 Folsom Ave, Suite 600
            %br/
            San Francisco, CA 94107
            %br/
            %abbr{:title => "Phone"} P:
            (123) 456-7890
        .contact-box-footer
          .m-t-xs.btn-group
            %a.btn.btn-xs.btn-white
              %i.fa.fa-phone
              Call
            %a.btn.btn-xs.btn-white
              %i.fa.fa-envelope
              Email
            %a.btn.btn-xs.btn-white
              %i.fa.fa-user-plus
              Follow
    .col-lg-3
      .contact-box.center-version
        %a{:href => "profile.html"}
          %img.img-circle{:alt => "image", :src => "#{image_path('a3.jpg')}"}/
          %h3.m-b-xs
            %strong Monica Smith
          .font-bold Marketing manager
          %address.m-t-md
            %strong Twitter, Inc.
            %br/
            795 Folsom Ave, Suite 600
            %br/
            San Francisco, CA 94107
            %br/
            %abbr{:title => "Phone"} P:
            (123) 456-7890
        .contact-box-footer
          .m-t-xs.btn-group
            %a.btn.btn-xs.btn-white
              %i.fa.fa-phone
              Call
            %a.btn.btn-xs.btn-white
              %i.fa.fa-envelope
              Email
            %a.btn.btn-xs.btn-white
              %i.fa.fa-user-plus
              Follow
    .col-lg-3
      .contact-box.center-version
        %a{:href => "profile.html"}
          %img.img-circle{:alt => "image", :src => "#{image_path('a4.jpg')}"}/
          %h3.m-b-xs
            %strong Michael Zimber
          .font-bold Sales manager
          %address.m-t-md
            %strong Twitter, Inc.
            %br/
            795 Folsom Ave, Suite 600
            %br/
            San Francisco, CA 94107
            %br/
            %abbr{:title => "Phone"} P:
            (123) 456-7890
        .contact-box-footer
          .m-t-xs.btn-group
            %a.btn.btn-xs.btn-white
              %i.fa.fa-phone
              Call
            %a.btn.btn-xs.btn-white
              %i.fa.fa-envelope
              Email
            %a.btn.btn-xs.btn-white
              %i.fa.fa-user-plus
              Follow
