.row.wrapper.border-bottom.white-bg.page-heading
  .col-lg-9
    %h2 File Manager
    %ol.breadcrumb
      %li
        %a{:href => "#{url_for :controller => 'dashboards', :action => 'dashboard_1'}"} Home
      %li
        App Views
      %li.active
        %strong File Manager
.wrapper.wrapper-content
  .row
    .col-lg-3
      .ibox.float-e-margins
        .ibox-content
          .file-manager
            %h5 Show:
            %a.file-control.active{:href => "#"} Ale
            %a.file-control{:href => "#"} Documents
            %a.file-control{:href => "#"} Audio
            %a.file-control{:href => "#"} Images
            .hr-line-dashed
            %button.btn.btn-primary.btn-block Upload Files
            .hr-line-dashed
            %h5 Folders
            %ul.folder-list{:style => "padding: 0"}
              %li
                %a{:href => ""}
                  %i.fa.fa-folder
                  Files
              %li
                %a{:href => ""}
                  %i.fa.fa-folder
                  Pictures
              %li
                %a{:href => ""}
                  %i.fa.fa-folder
                  Web pages
              %li
                %a{:href => ""}
                  %i.fa.fa-folder
                  Illustrations
              %li
                %a{:href => ""}
                  %i.fa.fa-folder
                  Films
              %li
                %a{:href => ""}
                  %i.fa.fa-folder
                  Books
            %h5.tag-title Tags
            %ul.tag-list{:style => "padding: 0"}
              %li
                %a{:href => ""} Family
              %li
                %a{:href => ""} Work
              %li
                %a{:href => ""} Home
              %li
                %a{:href => ""} Children
              %li
                %a{:href => ""} Holidays
              %li
                %a{:href => ""} Music
              %li
                %a{:href => ""} Photography
              %li
                %a{:href => ""} Film
            .clearfix
    .col-lg-9.animated.fadeInRight
      .row
        .col-lg-12
          .file-box
            .file
              %a{:href => "#"}
                %span.corner
                .icon
                  %i.fa.fa-file
                .file-name
                  Document_2014.doc
                  %br/
                  %small Added: Jan 11, 2014
          .file-box
            .file
              %a{:href => "#"}
                %span.corner
                .image
                  %img.img-responsive{:alt => "image", :src => "#{image_path('p1.jpg')}"}/
                .file-name
                  Italy street.jpg
                  %br/
                  %small Added: Jan 6, 2014
          .file-box
            .file
              %a{:href => "#"}
                %span.corner
                .image
                  %img.img-responsive{:alt => "image", :src => "#{image_path('p2.jpg')}"}/
                .file-name
                  My feel.png
                  %br/
                  %small Added: Jan 7, 2014
          .file-box
            .file
              %a{:href => "#"}
                %span.corner
                .icon
                  %i.fa.fa-music
                .file-name
                  Michal Jackson.mp3
                  %br/
                  %small Added: Jan 22, 2014
          .file-box
            .file
              %a{:href => "#"}
                %span.corner
                .image
                  %img.img-responsive{:alt => "image", :src => "#{image_path('p3.jpg')}"}/
                .file-name
                  Document_2014.doc
                  %br/
                  %small Added: Fab 11, 2014
          .file-box
            .file
              %a{:href => "#"}
                %span.corner
                .icon
                  %i.img-responsive.fa.fa-film
                .file-name
                  Monica's birthday.mpg4
                  %br/
                  %small Added: Fab 18, 2014
          .file-box
            %a{:href => "#"}
              .file
                %span.corner
                .icon
                  %i.fa.fa-bar-chart-o
                .file-name
                  Annual report 2014.xls
                  %br/
                  %small Added: Fab 22, 2014
          .file-box
            .file
              %a{:href => "#"}
                %span.corner
                .icon
                  %i.fa.fa-file
                .file-name
                  Document_2014.doc
                  %br/
                  %small Added: Jan 11, 2014
          .file-box
            .file
              %a{:href => "#"}
                %span.corner
                .image
                  %img.img-responsive{:alt => "image", :src => "#{image_path('p1.jpg')}"}/
                .file-name
                  Italy street.jpg
                  %br/
                  %small Added: Jan 6, 2014
          .file-box
            .file
              %a{:href => "#"}
                %span.corner
                .image
                  %img.img-responsive{:alt => "image", :src => "#{image_path('p2.jpg')}"}/
                .file-name
                  My feel.png
                  %br/
                  %small Added: Jan 7, 2014
          .file-box
            .file
              %a{:href => "#"}
                %span.corner
                .icon
                  %i.fa.fa-music
                .file-name
                  Michal Jackson.mp3
                  %br/
                  %small Added: Jan 22, 2014
          .file-box
            .file
              %a{:href => "#"}
                %span.corner
                .image
                  %img.img-responsive{:alt => "image", :src => "#{image_path('p3.jpg')}"}/
                .file-name
                  Document_2014.doc
                  %br/
                  %small Added: Fab 11, 2014
          .file-box
            .file
              %a{:href => "#"}
                %span.corner
                .icon
                  %i.img-responsive.fa.fa-film
                .file-name
                  Monica's birthday.mpg4
                  %br/
                  %small Added: Fab 18, 2014
          .file-box
            %a{:href => "#"}
              .file
                %span.corner
                .icon
                  %i.fa.fa-bar-chart-o
                .file-name
                  Annual report 2014.xls
                  %br/
                  %small Added: Fab 22, 2014
          .file-box
            .file
              %a{:href => "#"}
                %span.corner
                .icon
                  %i.fa.fa-file
                .file-name
                  Document_2014.doc
                  %br/
                  %small Added: Jan 11, 2014
          .file-box
            .file
              %a{:href => "#"}
                %span.corner
                .image
                  %img.img-responsive{:alt => "image", :src => "#{image_path('p1.jpg')}"}/
                .file-name
                  Italy street.jpg
                  %br/
                  %small Added: Jan 6, 2014
          .file-box
            .file
              %a{:href => "#"}
                %span.corner
                .image
                  %img.img-responsive{:alt => "image", :src => "#{image_path('p2.jpg')}"}/
                .file-name
                  My feel.png
                  %br/
                  %small Added: Jan 7, 2014
          .file-box
            .file
              %a{:href => "#"}
                %span.corner
                .icon
                  %i.fa.fa-music
                .file-name
                  Michal Jackson.mp3
                  %br/
                  %small Added: Jan 22, 2014
          .file-box
            .file
              %a{:href => "#"}
                %span.corner
                .image
                  %img.img-responsive{:alt => "image", :src => "#{image_path('p3.jpg')}"}/
                .file-name
                  Document_2014.doc
                  %br/
                  %small Added: Fab 11, 2014
          .file-box
            .file
              %a{:href => "#"}
                %span.corner
                .icon
                  %i.img-responsive.fa.fa-film
                .file-name
                  Monica's birthday.mpg4
                  %br/
                  %small Added: Fab 18, 2014
          .file-box
            %a{:href => "#"}
              .file
                %span.corner
                .icon
                  %i.fa.fa-bar-chart-o
                .file-name
                  Annual report 2014.xls
                  %br/
                  %small Added: Fab 22, 2014
