.row.wrapper.border-bottom.white-bg.page-heading
  .col-sm-4
    %h2 Project list
    %ol.breadcrumb
      %li
        %a{:href => "#{url_for :controller => 'dashboards', :action => 'dashboard_1'}"} Home
      %li.active
        %strong Project list
.row
  .col-lg-12
    .wrapper.wrapper-content.animated.fadeInUp
      .ibox
        .ibox-title
          %h5 All projects assigned to this account
          .ibox-tools
            %a.btn.btn-primary.btn-xs{:href => ""} Create new project
        .ibox-content
          .row.m-b-sm.m-t-sm
            .col-md-1
              %button#loading-example-btn.btn.btn-white.btn-sm{:type => "button"}
                %i.fa.fa-refresh
                Refresh
            .col-md-11
              .input-group
                %input.input-sm.form-control{:placeholder => "Search", :type => "text"}/
                %span.input-group-btn
                  %button.btn.btn-sm.btn-primary{:type => "button"} Go!
          .project-list
            %table.table.table-hover
              %tbody
                %tr
                  %td.project-status
                    %span.label.label-primary Active
                  %td.project-title
                    %a{:href => "#{url_for :controller => 'appviews', :action => 'project_detail'}"} Contract with Zender Company
                    %br/
                    %small Created 14.08.2014
                  %td.project-completion
                    %small Completion with: 48%
                    .progress.progress-mini
                      .progress-bar{:style => "width: 48%;"}
                  %td.project-people
                    %a{:href => ""}
                      %img.img-circle{:alt => "image", :src => "#{image_path('a3.jpg')}"}/
                    %a{:href => ""}
                      %img.img-circle{:alt => "image", :src => "#{image_path('a1.jpg')}"}/
                    %a{:href => ""}
                      %img.img-circle{:alt => "image", :src => "#{image_path('a2.jpg')}"}/
                    %a{:href => ""}
                      %img.img-circle{:alt => "image", :src => "#{image_path('a4.jpg')}"}/
                    %a{:href => ""}
                      %img.img-circle{:alt => "image", :src => "#{image_path('a5.jpg')}"}/
                  %td.project-actions
                    %a.btn.btn-white.btn-sm{:href => "#"}
                      %i.fa.fa-folder
                      View
                    %a.btn.btn-white.btn-sm{:href => "#"}
                      %i.fa.fa-pencil
                      Edit
                %tr
                  %td.project-status
                    %span.label.label-primary Active
                  %td.project-title
                    %a{:href => "#{url_for :controller => 'appviews', :action => 'project_detail'}"} There are many variations of passages
                    %br/
                    %small Created 11.08.2014
                  %td.project-completion
                    %small Completion with: 28%
                    .progress.progress-mini
                      .progress-bar{:style => "width: 28%;"}
                  %td.project-people
                    %a{:href => ""}
                      %img.img-circle{:alt => "image", :src => "#{image_path('a7.jpg')}"}/
                    %a{:href => ""}
                      %img.img-circle{:alt => "image", :src => "#{image_path('a6.jpg')}"}/
                    %a{:href => ""}
                      %img.img-circle{:alt => "image", :src => "#{image_path('a3.jpg')}"}/
                  %td.project-actions
                    %a.btn.btn-white.btn-sm{:href => "#"}
                      %i.fa.fa-folder
                      View
                    %a.btn.btn-white.btn-sm{:href => "#"}
                      %i.fa.fa-pencil
                      Edit
                %tr
                  %td.project-status
                    %span.label.label-default Unactive
                  %td.project-title
                    %a{:href => "#{url_for :controller => 'appviews', :action => 'project_detail'}"} Many desktop publishing packages and web
                    %br/
                    %small Created 10.08.2014
                  %td.project-completion
                    %small Completion with: 8%
                    .progress.progress-mini
                      .progress-bar{:style => "width: 8%;"}
                  %td.project-people
                    %a{:href => ""}
                      %img.img-circle{:alt => "image", :src => "#{image_path('a5.jpg')}"}/
                    %a{:href => ""}
                      %img.img-circle{:alt => "image", :src => "#{image_path('a3.jpg')}"}/
                  %td.project-actions
                    %a.btn.btn-white.btn-sm{:href => "#"}
                      %i.fa.fa-folder
                      View
                    %a.btn.btn-white.btn-sm{:href => "#"}
                      %i.fa.fa-pencil
                      Edit
                %tr
                  %td.project-status
                    %span.label.label-primary Active
                  %td.project-title
                    %a{:href => "#{url_for :controller => 'appviews', :action => 'project_detail'}"} Letraset sheets containing
                    %br/
                    %small Created 22.07.2014
                  %td.project-completion
                    %small Completion with: 83%
                    .progress.progress-mini
                      .progress-bar{:style => "width: 83%;"}
                  %td.project-people
                    %a{:href => ""}
                      %img.img-circle{:alt => "image", :src => "#{image_path('a2.jpg')}"}/
                    %a{:href => ""}
                      %img.img-circle{:alt => "image", :src => "#{image_path('a3.jpg')}"}/
                    %a{:href => ""}
                      %img.img-circle{:alt => "image", :src => "#{image_path('a1.jpg')}"}/
                    %a{:href => ""}
                      %img.img-circle{:alt => "image", :src => "#{image_path('a7.jpg')}"}/
                  %td.project-actions
                    %a.btn.btn-white.btn-sm{:href => "#"}
                      %i.fa.fa-folder
                      View
                    %a.btn.btn-white.btn-sm{:href => "#"}
                      %i.fa.fa-pencil
                      Edit
                %tr
                  %td.project-status
                    %span.label.label-primary Active
                  %td.project-title
                    %a{:href => "#{url_for :controller => 'appviews', :action => 'project_detail'}"} Contrary to popular belief
                    %br/
                    %small Created 14.07.2014
                  %td.project-completion
                    %small Completion with: 97%
                    .progress.progress-mini
                      .progress-bar{:style => "width: 97%;"}
                  %td.project-people
                    %a{:href => ""}
                      %img.img-circle{:alt => "image", :src => "#{image_path('a4.jpg')}"}/
                  %td.project-actions
                    %a.btn.btn-white.btn-sm{:href => "#"}
                      %i.fa.fa-folder
                      View
                    %a.btn.btn-white.btn-sm{:href => "#"}
                      %i.fa.fa-pencil
                      Edit
                %tr
                  %td.project-status
                    %span.label.label-primary Active
                  %td.project-title
                    %a{:href => "#{url_for :controller => 'appviews', :action => 'project_detail'}"} Contract with Zender Company
                    %br/
                    %small Created 14.08.2014
                  %td.project-completion
                    %small Completion with: 48%
                    .progress.progress-mini
                      .progress-bar{:style => "width: 48%;"}
                  %td.project-people
                    %a{:href => ""}
                      %img.img-circle{:alt => "image", :src => "#{image_path('a1.jpg')}"}/
                    %a{:href => ""}
                      %img.img-circle{:alt => "image", :src => "#{image_path('a2.jpg')}"}/
                    %a{:href => ""}
                      %img.img-circle{:alt => "image", :src => "#{image_path('a4.jpg')}"}/
                    %a{:href => ""}
                      %img.img-circle{:alt => "image", :src => "#{image_path('a5.jpg')}"}/
                  %td.project-actions
                    %a.btn.btn-white.btn-sm{:href => "#"}
                      %i.fa.fa-folder
                      View
                    %a.btn.btn-white.btn-sm{:href => "#"}
                      %i.fa.fa-pencil
                      Edit
                %tr
                  %td.project-status
                    %span.label.label-primary Active
                  %td.project-title
                    %a{:href => "#{url_for :controller => 'appviews', :action => 'project_detail'}"} There are many variations of passages
                    %br/
                    %small Created 11.08.2014
                  %td.project-completion
                    %small Completion with: 28%
                    .progress.progress-mini
                      .progress-bar{:style => "width: 28%;"}
                  %td.project-people
                    %a{:href => ""}
                      %img.img-circle{:alt => "image", :src => "#{image_path('a7.jpg')}"}/
                    %a{:href => ""}
                      %img.img-circle{:alt => "image", :src => "#{image_path('a6.jpg')}"}/
                    %a{:href => ""}
                      %img.img-circle{:alt => "image", :src => "#{image_path('a3.jpg')}"}/
                  %td.project-actions
                    %a.btn.btn-white.btn-sm{:href => "#"}
                      %i.fa.fa-folder
                      View
                    %a.btn.btn-white.btn-sm{:href => "#"}
                      %i.fa.fa-pencil
                      Edit
                %tr
                  %td.project-status
                    %span.label.label-default Unactive
                  %td.project-title
                    %a{:href => "#{url_for :controller => 'appviews', :action => 'project_detail'}"} Many desktop publishing packages and web
                    %br/
                    %small Created 10.08.2014
                  %td.project-completion
                    %small Completion with: 8%
                    .progress.progress-mini
                      .progress-bar{:style => "width: 8%;"}
                  %td.project-people
                    %a{:href => ""}
                      %img.img-circle{:alt => "image", :src => "#{image_path('a5.jpg')}"}/
                    %a{:href => ""}
                      %img.img-circle{:alt => "image", :src => "#{image_path('a3.jpg')}"}/
                  %td.project-actions
                    %a.btn.btn-white.btn-sm{:href => "#"}
                      %i.fa.fa-folder
                      View
                    %a.btn.btn-white.btn-sm{:href => "#"}
                      %i.fa.fa-pencil
                      Edit
                %tr
                  %td.project-status
                    %span.label.label-primary Active
                  %td.project-title
                    %a{:href => "#{url_for :controller => 'appviews', :action => 'project_detail'}"} Letraset sheets containing
                    %br/
                    %small Created 22.07.2014
                  %td.project-completion
                    %small Completion with: 83%
                    .progress.progress-mini
                      .progress-bar{:style => "width: 83%;"}
                  %td.project-people
                    %a{:href => ""}
                      %img.img-circle{:alt => "image", :src => "#{image_path('a2.jpg')}"}/
                    %a{:href => ""}
                      %img.img-circle{:alt => "image", :src => "#{image_path('a3.jpg')}"}/
                    %a{:href => ""}
                      %img.img-circle{:alt => "image", :src => "#{image_path('a1.jpg')}"}/
                  %td.project-actions
                    %a.btn.btn-white.btn-sm{:href => "#"}
                      %i.fa.fa-folder
                      View
                    %a.btn.btn-white.btn-sm{:href => "#"}
                      %i.fa.fa-pencil
                      Edit
                %tr
                  %td.project-status
                    %span.label.label-primary Active
                  %td.project-title
                    %a{:href => "#{url_for :controller => 'appviews', :action => 'project_detail'}"} Contrary to popular belief
                    %br/
                    %small Created 14.07.2014
                  %td.project-completion
                    %small Completion with: 97%
                    .progress.progress-mini
                      .progress-bar{:style => "width: 97%;"}
                  %td.project-people
                    %a{:href => ""}
                      %img.img-circle{:alt => "image", :src => "#{image_path('a4.jpg')}"}/
                  %td.project-actions
                    %a.btn.btn-white.btn-sm{:href => "#"}
                      %i.fa.fa-folder
                      View
                    %a.btn.btn-white.btn-sm{:href => "#"}
                      %i.fa.fa-pencil
                      Edit
                %tr
                  %td.project-status
                    %span.label.label-primary Active
                  %td.project-title
                    %a{:href => "#{url_for :controller => 'appviews', :action => 'project_detail'}"} There are many variations of passages
                    %br/
                    %small Created 11.08.2014
                  %td.project-completion
                    %small Completion with: 28%
                    .progress.progress-mini
                      .progress-bar{:style => "width: 28%;"}
                  %td.project-people
                    %a{:href => ""}
                      %img.img-circle{:alt => "image", :src => "#{image_path('a7.jpg')}"}/
                    %a{:href => ""}
                      %img.img-circle{:alt => "image", :src => "#{image_path('a6.jpg')}"}/
                    %a{:href => ""}
                      %img.img-circle{:alt => "image", :src => "#{image_path('a3.jpg')}"}/
                  %td.project-actions
                    %a.btn.btn-white.btn-sm{:href => "#"}
                      %i.fa.fa-folder
                      View
                    %a.btn.btn-white.btn-sm{:href => "#"}
                      %i.fa.fa-pencil
                      Edit
