.row.wrapper.border-bottom.white-bg.page-heading
  .col-lg-10
    %h2 Social feed
    %ol.breadcrumb
      %li
        %a{:href => "index.html"} Home
      %li
        %a App views
      %li.active
        %strong Social feed
  .col-lg-2
.wrapper.wrapper-content.animated.fadeInRight
  .row
    .col-lg-6
      .ibox
        .ibox-content.text-center
          %h3.m-b-xxs Social feed style 1
          %small News full block with incorporate avatar picture
      .social-feed-box
        .pull-right.social-action.dropdown
          %button.dropdown-toggle.btn-white{"data-toggle" => "dropdown"}
            %i.fa.fa-angle-down
          %ul.dropdown-menu.m-t-xs
            %li
              %a{:href => "#"} Config
        .social-avatar
          %a.pull-left{:href => ""}
            %img{:alt => "image", :src => "#{image_path('a1.jpg')}"}/
          .media-body
            %a{:href => "#"}
              Andrew Williams
            %small.text-muted Today 4:21 pm - 12.06.2014
        .social-body
          %p
            Many desktop publishing packages and web page editors now use Lorem Ipsum as their
            default model text, and a search for 'lorem ipsum' will uncover many web sites still
            in their infancy. Packages and web page editors now use Lorem Ipsum as their
            default model text.
          .btn-group
            %button.btn.btn-white.btn-xs
              %i.fa.fa-thumbs-up
              Like this!
            %button.btn.btn-white.btn-xs
              %i.fa.fa-comments
              Comment
            %button.btn.btn-white.btn-xs
              %i.fa.fa-share
              Share
        .social-footer
          .social-comment
            %a.pull-left{:href => ""}
              %img{:alt => "image", :src => "#{image_path('a1.jpg')}"}/
            .media-body
              %a{:href => "#"}
                Andrew Williams
              Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet. It uses a dictionary of over 200 Latin words.
              %br/
              %a.small{:href => "#"}
                %i.fa.fa-thumbs-up
                26 Like this!
              \-
              %small.text-muted 12.06.2014
          .social-comment
            %a.pull-left{:href => ""}
              %img{:alt => "image", :src => "#{image_path('a2.jpg')}"}/
            .media-body
              %a{:href => "#"}
                Andrew Williams
              Making this the first true generator on the Internet. It uses a dictionary of.
              %br/
              %a.small{:href => "#"}
                %i.fa.fa-thumbs-up
                11 Like this!
              \-
              %small.text-muted 10.07.2014
          .social-comment
            %a.pull-left{:href => ""}
              %img{:alt => "image", :src => "#{image_path('a3.jpg')}"}/
            .media-body
              %textarea.form-control{:placeholder => "Write comment..."}
      .social-feed-box
        .pull-right.social-action.dropdown
          %button.dropdown-toggle.btn-white{"data-toggle" => "dropdown"}
            %i.fa.fa-angle-down
          %ul.dropdown-menu.m-t-xs
            %li
              %a{:href => "#"} Config
        .social-avatar
          %a.pull-left{:href => ""}
            %img{:alt => "image", :src => "#{image_path('a6.jpg')}"}/
          .media-body
            %a{:href => "#"}
              Andrew Williams
            %small.text-muted Today 4:21 pm - 12.06.2014
        .social-body
          %p
            Many desktop publishing packages and web page editors now use Lorem Ipsum as their
            default model text, and a search for 'lorem ipsum' will uncover many web sites still
            in their infancy. Packages and web page editors now use Lorem Ipsum as their
            default model text.
          %p
            Lorem Ipsum as their
            default model text, and a search for 'lorem ipsum' will uncover many web sites still
            in their infancy. Packages and web page editors now use Lorem Ipsum as their
            default model text.
          %img.img-responsive{:src => "#{image_path('gallery/11.jpg')}"}/
          .btn-group
            %button.btn.btn-white.btn-xs
              %i.fa.fa-thumbs-up
              Like this!
            %button.btn.btn-white.btn-xs
              %i.fa.fa-comments
              Comment
            %button.btn.btn-white.btn-xs
              %i.fa.fa-share
              Share
        .social-footer
          .social-comment
            %a.pull-left{:href => ""}
              %img{:alt => "image", :src => "#{image_path('a1.jpg')}"}/
            .media-body
              %a{:href => "#"}
                Andrew Williams
              Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet. It uses a dictionary of over 200 Latin words.
              %br/
              %a.small{:href => "#"}
                %i.fa.fa-thumbs-up
                26 Like this!
              \-
              %small.text-muted 12.06.2014
          .social-comment
            %a.pull-left{:href => ""}
              %img{:alt => "image", :src => "#{image_path('a2.jpg')}"}/
            .media-body
              %a{:href => "#"}
                Andrew Williams
              Making this the first true generator on the Internet. It uses a dictionary of.
              %br/
              %a.small{:href => "#"}
                %i.fa.fa-thumbs-up
                11 Like this!
              \-
              %small.text-muted 10.07.2014
          .social-comment
            %a.pull-left{:href => ""}
              %img{:alt => "image", :src => "#{image_path('a8.jpg')}"}/
            .media-body
              %a{:href => "#"}
                Andrew Williams
              Making this the first true generator on the Internet. It uses a dictionary of.
              %br/
              %a.small{:href => "#"}
                %i.fa.fa-thumbs-up
                11 Like this!
              \-
              %small.text-muted 10.07.2014
          .social-comment
            %a.pull-left{:href => ""}
              %img{:alt => "image", :src => "#{image_path('a3.jpg')}"}/
            .media-body
              %textarea.form-control{:placeholder => "Write comment..."}
      .social-feed-box
        .pull-right.social-action.dropdown
          %button.dropdown-toggle.btn-white{"data-toggle" => "dropdown"}
            %i.fa.fa-angle-down
          %ul.dropdown-menu.m-t-xs
            %li
              %a{:href => "#"} Config
        .social-avatar
          %a.pull-left{:href => ""}
            %img{:alt => "image", :src => "#{image_path('a4.jpg')}"}/
          .media-body
            %a{:href => "#"}
              Andrew Williams
            %small.text-muted Today 4:21 pm - 12.06.2014
        .social-body
          %p
            Packages and web page editors now use Lorem Ipsum as their
            default model text. Page editors now use Lorem Ipsum as their
            default model text.
          .btn-group
            %button.btn.btn-white.btn-xs
              %i.fa.fa-thumbs-up
              Like this!
            %button.btn.btn-white.btn-xs
              %i.fa.fa-comments
              Comment
            %button.btn.btn-white.btn-xs
              %i.fa.fa-share
              Share
        .social-footer
          .social-comment
            %a.pull-left{:href => ""}
              %img{:alt => "image", :src => "#{image_path('a8.jpg')}"}/
            .media-body
              %a{:href => "#"}
                Andrew Williams
              Making this the first true generator on the Internet. It uses a dictionary of.
              %br/
              %a.small{:href => "#"}
                %i.fa.fa-thumbs-up
                11 Like this!
              \-
              %small.text-muted 10.07.2014
          .social-comment
            %a.pull-left{:href => ""}
              %img{:alt => "image", :src => "#{image_path('a3.jpg')}"}/
            .media-body
              %textarea.form-control{:placeholder => "Write comment..."}
    .col-lg-6
      .ibox
        .ibox-content.text-center
          %h3.m-b-xxs Social feed style 2
          %small News block with separate avatar picture
      .social-feed-separated
        .social-avatar
          %a{:href => ""}
            %img{:alt => "image", :src => "#{image_path('a5.jpg')}"}/
        .social-feed-box
          .pull-right.social-action.dropdown
            %button.dropdown-toggle.btn-white{"data-toggle" => "dropdown"}
              %i.fa.fa-angle-down
            %ul.dropdown-menu.m-t-xs
              %li
                %a{:href => "#"} Config
          .social-avatar
            %a{:href => "#"}
              Andrew Williams
            %small.text-muted Today 4:21 pm - 12.06.2014
          .social-body
            %p
              Many desktop publishing packages and web page editors now use Lorem Ipsum as their
              default model text, and a search for 'lorem ipsum' will uncover many web sites still
              in their infancy. Packages and web page editors now use Lorem Ipsum as their
              default model text.
            %img.img-responsive{:src => "#{image_path('gallery/9.jpg')}"}/
            .btn-group
              %button.btn.btn-white.btn-xs
                %i.fa.fa-thumbs-up
                Like this!
              %button.btn.btn-white.btn-xs
                %i.fa.fa-comments
                Comment
              %button.btn.btn-white.btn-xs
                %i.fa.fa-share
                Share
          .social-footer
            .social-comment
              %a.pull-left{:href => ""}
                %img{:alt => "image", :src => "#{image_path('a3.jpg')}"}/
              .media-body
                %a{:href => "#"}
                  Andrew Williams
                Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet. It uses a dictionary of over 200 Latin words.
                %br/
                %a.small{:href => "#"}
                  %i.fa.fa-thumbs-up
                  26 Like this!
                \-
                %small.text-muted 12.06.2014
            .social-comment
              %a.pull-left{:href => ""}
                %img{:alt => "image", :src => "#{image_path('a4.jpg')}"}/
              .media-body
                %a{:href => "#"}
                  Andrew Williams
                Making this the first true generator on the Internet. It uses a dictionary of.
                %br/
                %a.small{:href => "#"}
                  %i.fa.fa-thumbs-up
                  11 Like this!
                \-
                %small.text-muted 10.07.2014
              .social-comment
                %a.pull-left{:href => ""}
                  %img{:alt => "image", :src => "#{image_path('a7.jpg')}"}/
                .media-body
                  %a{:href => "#"}
                    Andrew Williams
                  Making this the first true generator on the Internet. It uses a dictionary of.
                  %br/
                  %a.small{:href => "#"}
                    %i.fa.fa-thumbs-up
                    11 Like this!
                  \-
                  %small.text-muted 10.07.2014
              .social-comment
                %a.pull-left{:href => ""}
                  %img{:alt => "image", :src => "#{image_path('a8.jpg')}"}/
                .media-body
                  %textarea.form-control{:placeholder => "Write comment..."}
            .social-comment
              %a.pull-left{:href => ""}
                %img{:alt => "image", :src => "#{image_path('a6.jpg')}"}/
              .media-body
                %a{:href => "#"}
                  Andrew Williams
                Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet. It uses a dictionary of over 200 Latin words.
                %br/
                %a.small{:href => "#"}
                  %i.fa.fa-thumbs-up
                  26 Like this!
                \-
                %small.text-muted 12.06.2014
            .social-comment
              %a.pull-left{:href => ""}
                %img{:alt => "image", :src => "#{image_path('a7.jpg')}"}/
              .media-body
                %a{:href => "#"}
                  Andrew Williams
                Making this the first true generator on the Internet. It uses a dictionary of over 200 Latin words.
                %br/
                %a.small{:href => "#"}
                  %i.fa.fa-thumbs-up
                  26 Like this!
                \-
                %small.text-muted 12.06.2014
            .social-comment
              %a.pull-left{:href => ""}
                %img{:alt => "image", :src => "#{image_path('a3.jpg')}"}/
              .media-body
                %textarea.form-control{:placeholder => "Write comment..."}
      .social-feed-separated
        .social-avatar
          %a{:href => ""}
            %img{:alt => "image", :src => "#{image_path('a8.jpg')}"}/
        .social-feed-box
          .pull-right.social-action.dropdown
            %button.dropdown-toggle.btn-white{"data-toggle" => "dropdown"}
              %i.fa.fa-angle-down
            %ul.dropdown-menu.m-t-xs
              %li
                %a{:href => "#"} Config
          .social-avatar
            %a{:href => "#"}
              Andrew Williams
            %small.text-muted Today 4:21 pm - 12.06.2014
          .social-body
            %p
              Many desktop publishing packages and web page editors now use Lorem Ipsum as their
              default model text, and a search for 'lorem ipsum' will uncover many web sites still
              in their infancy.
            .btn-group
              %button.btn.btn-white.btn-xs
                %i.fa.fa-thumbs-up
                Like this!
              %button.btn.btn-white.btn-xs
                %i.fa.fa-comments
                Comment
              %button.btn.btn-white.btn-xs
                %i.fa.fa-share
                Share
          .social-footer
            .social-comment
              %a.pull-left{:href => ""}
                %img{:alt => "image", :src => "#{image_path('a3.jpg')}"}/
              .media-body
                %a{:href => "#"}
                  Andrew Williams
                Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet. It uses a dictionary of over 200 Latin words.
                %br/
                %a.small{:href => "#"}
                  %i.fa.fa-thumbs-up
                  26 Like this!
                \-
                %small.text-muted 12.06.2014
            .social-comment
              %a.pull-left{:href => ""}
                %img{:alt => "image", :src => "#{image_path('a1.jpg')}"}/
              .media-body
                %a{:href => "#"}
                  Andrew Williams
                Making this the first true generator on the Internet. It uses a dictionary of.
                %br/
                %a.small{:href => "#"}
                  %i.fa.fa-thumbs-up
                  11 Like this!
                \-
                %small.text-muted 10.07.2014
            .social-comment
              %a.pull-left{:href => ""}
                %img{:alt => "image", :src => "#{image_path('a4.jpg')}"}/
              .media-body
                %textarea.form-control{:placeholder => "Write comment..."}
      .social-feed-separated
        .social-avatar
          %a{:href => ""}
            %img{:alt => "image", :src => "#{image_path('a2.jpg')}"}/
        .social-feed-box
          .pull-right.social-action.dropdown
            %button.dropdown-toggle.btn-white{"data-toggle" => "dropdown"}
              %i.fa.fa-angle-down
            %ul.dropdown-menu.m-t-xs
              %li
                %a{:href => "#"} Config
          .social-avatar
            %a{:href => "#"}
              Andrew Williams
            %small.text-muted Today 4:21 pm - 12.06.2014
          .social-body
            %p
              Text, and a search for 'lorem ipsum' will uncover many web sites still
              in their infancy.
            .btn-group
              %button.btn.btn-white.btn-xs
                %i.fa.fa-thumbs-up
                Like this!
              %button.btn.btn-white.btn-xs
                %i.fa.fa-comments
                Comment
              %button.btn.btn-white.btn-xs
                %i.fa.fa-share
                Share
          .social-footer
            .social-comment
              %a.pull-left{:href => ""}
                %img{:alt => "image", :src => "#{image_path('a4.jpg')}"}/
              .media-body
                %textarea.form-control{:placeholder => "Write comment..."}
