.row.wrapper.border-bottom.white-bg.page-heading
  .col-lg-10
    %h2 Teams board
    %ol.breadcrumb
      %li
        %a{:href => "index.html"} Home
      %li
        %a App views
      %li.active
        %strong Teams board
  .col-lg-2
.wrapper.wrapper-content.animated.fadeInRight
  .row
    .col-lg-4
      .ibox
        .ibox-title
          %span.label.label-primary.pull-right NEW
          %h5 IT-01 - Design Team
        .ibox-content
          .team-members
            %a{:href => "#"}
              %img.img-circle{:alt => "member", :src => "#{image_path('a1.jpg')}"}/
            %a{:href => "#"}
              %img.img-circle{:alt => "member", :src => "#{image_path('a2.jpg')}"}/
            %a{:href => "#"}
              %img.img-circle{:alt => "member", :src => "#{image_path('a3.jpg')}"}/
            %a{:href => "#"}
              %img.img-circle{:alt => "member", :src => "#{image_path('a5.jpg')}"}/
            %a{:href => "#"}
              %img.img-circle{:alt => "member", :src => "#{image_path('a6.jpg')}"}/
          %h4 Info about Design Team
          %p
            It is a long established fact that a reader will be distracted by the readable content
            of a page when looking at its layout. The point of using Lorem Ipsum is that it has.
          %div
            %span Status of current project:
            .stat-percent 48%
            .progress.progress-mini
              .progress-bar{:style => "width: 48%;"}
          .row.m-t-sm
            .col-sm-4
              .font-bold PROJECTS
              12
            .col-sm-4
              .font-bold RANKING
              4th
            .col-sm-4.text-right
              .font-bold BUDGET
              $200,913
              %i.fa.fa-level-up.text-navy
      .ibox
        .ibox-title
          %h5 IT-04 - Marketing Team
        .ibox-content
          .team-members
            %a{:href => "#"}
              %img.img-circle{:alt => "member", :src => "#{image_path('a4.jpg')}"}/
            %a{:href => "#"}
              %img.img-circle{:alt => "member", :src => "#{image_path('a5.jpg')}"}/
            %a{:href => "#"}
              %img.img-circle{:alt => "member", :src => "#{image_path('a6.jpg')}"}/
            %a{:href => "#"}
              %img.img-circle{:alt => "member", :src => "#{image_path('a8.jpg')}"}/
            %a{:href => "#"}
              %img.img-circle{:alt => "member", :src => "#{image_path('a7.jpg')}"}/
          %h4 Info about Design Team
          %p
            It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker.
          %div
            %span Status of current project:
            .stat-percent 32%
            .progress.progress-mini
              .progress-bar{:style => "width: 32%;"}
          .row.m-t-sm
            .col-sm-4
              .font-bold PROJECTS
              24
            .col-sm-4
              .font-bold RANKING
              3th
            .col-sm-4.text-right
              .font-bold BUDGET
              $190,325
              %i.fa.fa-level-up.text-navy
      .ibox
        .ibox-title
          %h5 IT-07 - Finance Team
        .ibox-content
          .team-members
            %a{:href => "#"}
              %img.img-circle{:alt => "member", :src => "#{image_path('a4.jpg')}"}/
            %a{:href => "#"}
              %img.img-circle{:alt => "member", :src => "#{image_path('a8.jpg')}"}/
            %a{:href => "#"}
              %img.img-circle{:alt => "member", :src => "#{image_path('a7.jpg')}"}/
          %h4 Info about Design Team
          %p
            Uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).
          %div
            %span Status of current project:
            .stat-percent 73%
            .progress.progress-mini
              .progress-bar{:style => "width: 73%;"}
          .row.m-t-sm
            .col-sm-4
              .font-bold PROJECTS
              11
            .col-sm-4
              .font-bold RANKING
              6th
            .col-sm-4.text-right
              .font-bold BUDGET
              $560,105
              %i.fa.fa-level-up.text-navy
    .col-lg-4
      .ibox
        .ibox-title
          %h5 IT-02 - Developers Team
        .ibox-content
          .team-members
            %a{:href => "#"}
              %img.img-circle{:alt => "member", :src => "#{image_path('a8.jpg')}"}/
            %a{:href => "#"}
              %img.img-circle{:alt => "member", :src => "#{image_path('a4.jpg')}"}/
            %a{:href => "#"}
              %img.img-circle{:alt => "member", :src => "#{image_path('a1.jpg')}"}/
          %h4 Info about Design Team
          %p
            Lorem Ipsum which looks reasonable. The generated Lorem Ipsum is therefore always free from repetition, injected humour, or non-characteristic words etc.
          %div
            %span Status of current project:
            .stat-percent 61%
            .progress.progress-mini
              .progress-bar{:style => "width: 61%;"}
          .row.m-t-sm
            .col-sm-4
              .font-bold PROJECTS
              43
            .col-sm-4
              .font-bold RANKING
              1th
            .col-sm-4.text-right
              .font-bold BUDGET
              $705,913
              %i.fa.fa-level-up.text-navy
      .ibox
        .ibox-title
          %span.label.label-warning.pull-right DEADLINE
          %h5 IT-05 - Administration Team
        .ibox-content
          .team-members
            %a{:href => "#"}
              %img.img-circle{:alt => "member", :src => "#{image_path('a1.jpg')}"}/
            %a{:href => "#"}
              %img.img-circle{:alt => "member", :src => "#{image_path('a2.jpg')}"}/
            %a{:href => "#"}
              %img.img-circle{:alt => "member", :src => "#{image_path('a6.jpg')}"}/
            %a{:href => "#"}
              %img.img-circle{:alt => "member", :src => "#{image_path('a3.jpg')}"}/
            %a{:href => "#"}
              %img.img-circle{:alt => "member", :src => "#{image_path('a4.jpg')}"}/
            %a{:href => "#"}
              %img.img-circle{:alt => "member", :src => "#{image_path('a7.jpg')}"}/
          %h4 Info about Design Team
          %p
            Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet. It uses a dictionary of over 200 Latin.
          %div
            %span Status of current project:
            .stat-percent 14%
            .progress.progress-mini
              .progress-bar{:style => "width: 14%;"}
          .row.m-t-sm
            .col-sm-4
              .font-bold PROJECTS
              8
            .col-sm-4
              .font-bold RANKING
              7th
            .col-sm-4.text-right
              .font-bold BUDGET
              $40,200
              %i.fa.fa-level-up.text-navy
      .ibox
        .ibox-title
          %h5 IT-08 - Lorem ipsum Team
        .ibox-content
          .team-members
            %a{:href => "#"}
              %img.img-circle{:alt => "member", :src => "#{image_path('a1.jpg')}"}/
            %a{:href => "#"}
              %img.img-circle{:alt => "member", :src => "#{image_path('a8.jpg')}"}/
            %a{:href => "#"}
              %img.img-circle{:alt => "member", :src => "#{image_path('a3.jpg')}"}/
            %a{:href => "#"}
              %img.img-circle{:alt => "member", :src => "#{image_path('a7.jpg')}"}/
          %h4 Info about Design Team
          %p
            Many desktop publishing packages and web page editors now use Lorem Ipsum as their. ometimes by accident, sometimes on purpose (injected humour and the like).
          %div
            %span Status of current project:
            .stat-percent 25%
            .progress.progress-mini
              .progress-bar{:style => "width: 25%;"}
          .row.m-t-sm
            .col-sm-4
              .font-bold PROJECTS
              25
            .col-sm-4
              .font-bold RANKING
              4th
            .col-sm-4.text-right
              .font-bold BUDGET
              $140,105
              %i.fa.fa-level-up.text-navy
    .col-lg-4
      .ibox
        .ibox-title
          %h5 IT-02 - Graphic Team
        .ibox-content
          .team-members
            %a{:href => "#"}
              %img.img-circle{:alt => "member", :src => "#{image_path('a3.jpg')}"}/
            %a{:href => "#"}
              %img.img-circle{:alt => "member", :src => "#{image_path('a4.jpg')}"}/
            %a{:href => "#"}
              %img.img-circle{:alt => "member", :src => "#{image_path('a7.jpg')}"}/
            %a{:href => "#"}
              %img.img-circle{:alt => "member", :src => "#{image_path('a2.jpg')}"}/
          %h4 Info about Design Team
          %p
            Very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.
          %div
            %span Status of current project:
            .stat-percent 82%
            .progress.progress-mini
              .progress-bar{:style => "width: 82%;"}
          .row.m-t-sm
            .col-sm-4
              .font-bold PROJECTS
              68
            .col-sm-4
              .font-bold RANKING
              2th
            .col-sm-4.text-right
              .font-bold BUDGET
              $701,400
              %i.fa.fa-level-up.text-navy
      .ibox
        .ibox-title
          %h5 IT-06 - Standard  Team
        .ibox-content
          .team-members
            %a{:href => "#"}
              %img.img-circle{:alt => "member", :src => "#{image_path('a1.jpg')}"}/
            %a{:href => "#"}
              %img.img-circle{:alt => "member", :src => "#{image_path('a2.jpg')}"}/
            %a{:href => "#"}
              %img.img-circle{:alt => "member", :src => "#{image_path('a4.jpg')}"}/
            %a{:href => "#"}
              %img.img-circle{:alt => "member", :src => "#{image_path('a7.jpg')}"}/
            %a{:href => "#"}
              %img.img-circle{:alt => "member", :src => "#{image_path('a8.jpg')}"}/
          %h4 Info about Design Team
          %p
            Sections 1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum" by Cicero are also reproduced in their exact original form, accompanied by English versions from the 1914 translation by H. Rackham.
          %div
            %span Status of current project:
            .stat-percent 26%
            .progress.progress-mini
              .progress-bar{:style => "width: 26%;"}
          .row.m-t-sm
            .col-sm-4
              .font-bold PROJECTS
              16
            .col-sm-4
              .font-bold RANKING
              8th
            .col-sm-4.text-right
              .font-bold BUDGET
              $160,100
              %i.fa.fa-level-up.text-navy
      .ibox
        .ibox-title
          %h5 IT-09 - Modern Team
        .ibox-content
          .team-members
            %a{:href => "#"}
              %img.img-circle{:alt => "member", :src => "#{image_path('a2.jpg')}"}/
            %a{:href => "#"}
              %img.img-circle{:alt => "member", :src => "#{image_path('a3.jpg')}"}/
            %a{:href => "#"}
              %img.img-circle{:alt => "member", :src => "#{image_path('a8.jpg')}"}/
            %a{:href => "#"}
              %img.img-circle{:alt => "member", :src => "#{image_path('a6.jpg')}"}/
            %a{:href => "#"}
              %img.img-circle{:alt => "member", :src => "#{image_path('a7.jpg')}"}/
          %h4 Info about Design Team
          %p
            Words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in.
          %div
            %span Status of current project:
            .stat-percent 18%
            .progress.progress-mini
              .progress-bar{:style => "width: 18%;"}
          .row.m-t-sm
            .col-sm-4
              .font-bold PROJECTS
              53
            .col-sm-4
              .font-bold RANKING
              9th
            .col-sm-4.text-right
              .font-bold BUDGET
              $60,140
              %i.fa.fa-level-up.text-navy
