.wrapper.wrapper-content
  .row
    .col-lg-3
      .ibox.float-e-margins
        .ibox-content.mailbox-content
          .file-manager
            %a.btn.btn-block.btn-primary.compose-mail{:href => "#{url_for :controller => 'mailbox', :action => 'compose_email'}"} Compose Mail
            .space-25
            %h5 Folders
            %ul.folder-list.m-b-md{:style => "padding: 0"}
              %li
                %a{:href => "#{url_for :controller => 'mailbox', :action => 'inbox'}"}
                  %i.fa.fa-inbox
                  Inbox
                  %span.label.label-warning.pull-right 16
              %li
                %a{:href => "#{url_for :controller => 'mailbox', :action => 'inbox'}"}
                  %i.fa.fa-envelope-o
                  Send Mail
              %li
                %a{:href => "#{url_for :controller => 'mailbox', :action => 'inbox'}"}
                  %i.fa.fa-certificate
                  Important
              %li
                %a{:href => "#{url_for :controller => 'mailbox', :action => 'inbox'}"}
                  %i.fa.fa-file-text-o
                  Drafts
                  %span.label.label-danger.pull-right 2
              %li
                %a{:href => "#{url_for :controller => 'mailbox', :action => 'inbox'}"}
                  %i.fa.fa-trash-o
                  Trash
            %h5 Categories
            %ul.category-list{:style => "padding: 0"}
              %li
                %a{:href => "#"}
                  %i.fa.fa-circle.text-navy
                  Work
              %li
                %a{:href => "#"}
                  %i.fa.fa-circle.text-danger
                  Documents
              %li
                %a{:href => "#"}
                  %i.fa.fa-circle.text-primary
                  Social
              %li
                %a{:href => "#"}
                  %i.fa.fa-circle.text-info
                  Advertising
              %li
                %a{:href => "#"}
                  %i.fa.fa-circle.text-warning
                  Clients
            %h5.tag-title Labels
            %ul.tag-list{:style => "padding: 0"}
              %li
                %a{:href => ""}
                  %i.fa.fa-tag
                  Family
              %li
                %a{:href => ""}
                  %i.fa.fa-tag
                  Work
              %li
                %a{:href => ""}
                  %i.fa.fa-tag
                  Home
              %li
                %a{:href => ""}
                  %i.fa.fa-tag
                  Children
              %li
                %a{:href => ""}
                  %i.fa.fa-tag
                  Holidays
              %li
                %a{:href => ""}
                  %i.fa.fa-tag
                  Music
              %li
                %a{:href => ""}
                  %i.fa.fa-tag
                  Photography
              %li
                %a{:href => ""}
                  %i.fa.fa-tag
                  Film
            .clearfix
    .col-lg-9.animated.fadeInRight
      .mail-box-header
        .pull-right.tooltip-demo
          %a.btn.btn-white.btn-sm{"data-placement" => "top", "data-toggle" => "tooltip", :href => "#{url_for :controller => 'mailbox', :action => 'compose_email'}", :title => "Reply"}
            %i.fa.fa-reply
            Reply
          %a.btn.btn-white.btn-sm{"data-placement" => "top", "data-toggle" => "tooltip", :href => "#", :title => "Print email"}
            %i.fa.fa-print
          %a.btn.btn-white.btn-sm{"data-placement" => "top", "data-toggle" => "tooltip", :href => "#{url_for :controller => 'mailbox', :action => 'inbox'}", :title => "Move to trash"}
            %i.fa.fa-trash-o
        %h2
          View Message
        .mail-tools.tooltip-demo.m-t-md
          %h3
            %span.font-noraml> Subject:
            Aldus PageMaker including versions of Lorem Ipsum.
          %h5
            %span.pull-right.font-noraml 10:15AM 02 FEB 2014
            = succeed "alex.smith@corporation.com" do
              %span.font-noraml From:
      .mail-box
        .mail-body
          %p
            Hello Jonathan!
            %br/
            %br/
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer
            took a galley of type and scrambled it to make a type
            = succeed "It" do
              %strong specimen book.
          %p
            It was popularised in the 1960s with the release
            %a.text-navy{:href => "#"} Letraset sheets
            containing Lorem Ipsum passages, and more recently with desktop publishing software
            like Aldus PageMaker including versions of Lorem Ipsum.
          %p
            There are many variations of passages of
            = succeed "Lorem" do
              %strong Lorem Ipsum
        .mail-attachment
          %p
            %span
              %i.fa.fa-paperclip
              2 attachments -
            %a{:href => "#"} Download all
            |
            %a{:href => "#"} View all images
          .attachment
            .file-box
              .file
                %a{:href => "#"}
                  %span.corner
                  .icon
                    %i.fa.fa-file
                  .file-name
                    Document_2014.doc
                    %br/
                    %small Added: Jan 11, 2014
            .file-box
              .file
                %a{:href => "#"}
                  %span.corner
                  .image
                    %img.img-responsive{:alt => "image", :src => "~/Images/p1.jpg"}/
                  .file-name
                    Italy street.jpg
                    %br/
                    %small Added: Jan 6, 2014
            .file-box
              .file
                %a{:href => "#"}
                  %span.corner
                  .image
                    %img.img-responsive{:alt => "image", :src => "~/Images/p2.jpg"}/
                  .file-name
                    My feel.png
                    %br/
                    %small Added: Jan 7, 2014
            .clearfix
        .mail-body.text-right.tooltip-demo
          %a.btn.btn-sm.btn-white{:href => "#{url_for :controller => 'mailbox', :action => 'compose_email'}"}
            %i.fa.fa-reply
            Reply
          %a.btn.btn-sm.btn-white{:href => "#{url_for :controller => 'mailbox', :action => 'compose_email'}"}
            %i.fa.fa-arrow-right
            Forward
          %button.btn.btn-sm.btn-white{"data-original-title" => "Print", "data-placement" => "top", "data-toggle" => "tooltip", :title => "", :type => "button"}
            %i.fa.fa-print
            Print
          %button.btn.btn-sm.btn-white{"data-original-title" => "Trash", "data-placement" => "top", "data-toggle" => "tooltip", :title => ""}
            %i.fa.fa-trash-o
            Remove
        .clearfix
