.wrapper.wrapper-content
  .row
    .col-lg-3
      .ibox.float-e-margins
        .ibox-content.mailbox-content
          .file-manager
            %a.btn.btn-block.btn-primary.compose-mail{:href => "#{url_for :controller => 'mailbox', :action => 'compose_email'}"} Compose Mail
            .space-25
            %h5 Folders
            %ul.folder-list.m-b-md{:style => "padding: 0"}
              %li
                %a{:href => "#{url_for :controller => 'mailbox', :action => 'inbox'}"}
                  %i.fa.fa-inbox
                  Inbox
                  %span.label.label-warning.pull-right 16
              %li
                %a{:href => "#{url_for :controller => 'mailbox', :action => 'inbox'}"}
                  %i.fa.fa-envelope-o
                  Send Mail
              %li
                %a{:href => "#{url_for :controller => 'mailbox', :action => 'inbox'}"}
                  %i.fa.fa-certificate
                  Important
              %li
                %a{:href => "#{url_for :controller => 'mailbox', :action => 'inbox'}"}
                  %i.fa.fa-file-text-o
                  Drafts
                  %span.label.label-danger.pull-right 2
              %li
                %a{:href => "#{url_for :controller => 'mailbox', :action => 'inbox'}"}
                  %i.fa.fa-trash-o
                  Trash
            %h5 Categories
            %ul.category-list{:style => "padding: 0"}
              %li
                %a{:href => "#"}
                  %i.fa.fa-circle.text-navy
                  Work
              %li
                %a{:href => "#"}
                  %i.fa.fa-circle.text-danger
                  Documents
              %li
                %a{:href => "#"}
                  %i.fa.fa-circle.text-primary
                  Social
              %li
                %a{:href => "#"}
                  %i.fa.fa-circle.text-info
                  Advertising
              %li
                %a{:href => "#"}
                  %i.fa.fa-circle.text-warning
                  Clients
            %h5.tag-title Labels
            %ul.tag-list{:style => "padding: 0"}
              %li
                %a{:href => ""}
                  %i.fa.fa-tag
                  Family
              %li
                %a{:href => ""}
                  %i.fa.fa-tag
                  Work
              %li
                %a{:href => ""}
                  %i.fa.fa-tag
                  Home
              %li
                %a{:href => ""}
                  %i.fa.fa-tag
                  Children
              %li
                %a{:href => ""}
                  %i.fa.fa-tag
                  Holidays
              %li
                %a{:href => ""}
                  %i.fa.fa-tag
                  Music
              %li
                %a{:href => ""}
                  %i.fa.fa-tag
                  Photography
              %li
                %a{:href => ""}
                  %i.fa.fa-tag
                  Film
            .clearfix
    .col-lg-9.animated.fadeInRight
      .mail-box-header
        %form.pull-right.mail-search{:action => "#", :method => "get"}
          .input-group
            %input.form-control.input-sm{:name => "search", :placeholder => "Search email", :type => "text"}/
            .input-group-btn
              %button.btn.btn-sm.btn-primary{:type => "submit"}
                Search
        %h2
          Inbox (16)
        .mail-tools.tooltip-demo.m-t-md
          .btn-group.pull-right
            %button.btn.btn-white.btn-sm
              %i.fa.fa-arrow-left
            %button.btn.btn-white.btn-sm
              %i.fa.fa-arrow-right
          %button.btn.btn-white.btn-sm{"data-placement" => "left", "data-toggle" => "tooltip", :title => "Refresh inbox"}
            %i.fa.fa-refresh
            Refresh
          %button.btn.btn-white.btn-sm{"data-placement" => "top", "data-toggle" => "tooltip", :title => "Mark as read"}
            %i.fa.fa-eye
          %button.btn.btn-white.btn-sm{"data-placement" => "top", "data-toggle" => "tooltip", :title => "Mark as important"}
            %i.fa.fa-exclamation
          %button.btn.btn-white.btn-sm{"data-placement" => "top", "data-toggle" => "tooltip", :title => "Move to trash"}
            %i.fa.fa-trash-o
      .mail-box
        %table.table.table-hover.table-mail
          %tbody
            %tr.unread
              %td.check-mail
                %input.i-checks{:type => "checkbox"}/
              %td.mail-ontact
                %a{:href => "#{url_for :controller => 'mailbox', :action => 'email_view'}"} Anna Smith
              %td.mail-subject
                %a{:href => "#{url_for :controller => 'mailbox', :action => 'email_view'}"} Lorem ipsum dolor noretek imit set.
              %td
                %i.fa.fa-paperclip
              %td.text-right.mail-date 6.10 AM
            %tr.unread
              %td.check-mail
                %input.i-checks{:checked => "checked", :type => "checkbox"}/
              %td.mail-ontact
                %a{:href => "#{url_for :controller => 'mailbox', :action => 'email_view'}"} Jack Nowak
              %td.mail-subject
                %a{:href => "#{url_for :controller => 'mailbox', :action => 'email_view'}"} Aldus PageMaker including versions of Lorem Ipsum.
              %td
              %td.text-right.mail-date 8.22 PM
            %tr.read
              %td.check-mail
                %input.i-checks{:type => "checkbox"}/
              %td.mail-ontact
                %a{:href => "#{url_for :controller => 'mailbox', :action => 'email_view'}"} Facebook
                %span.label.label-warning.pull-right Clients
              %td.mail-subject
                %a{:href => "#{url_for :controller => 'mailbox', :action => 'email_view'}"} Many desktop publishing packages and web page editors.
              %td
              %td.text-right.mail-date Jan 16
            %tr.read
              %td.check-mail
                %input.i-checks{:type => "checkbox"}/
              %td.mail-ontact
                %a{:href => "#{url_for :controller => 'mailbox', :action => 'email_view'}"} Mailchip
              %td.mail-subject
                %a{:href => "#{url_for :controller => 'mailbox', :action => 'email_view'}"} There are many variations of passages of Lorem Ipsum.
              %td
              %td.text-right.mail-date Mar 22
            %tr.read
              %td.check-mail
                %input.i-checks{:type => "checkbox"}/
              %td.mail-ontact
                %a{:href => "#{url_for :controller => 'mailbox', :action => 'email_view'}"} Alex T.
                %span.label.label-danger.pull-right Documents
              %td.mail-subject
                %a{:href => "#{url_for :controller => 'mailbox', :action => 'email_view'}"} Lorem ipsum dolor noretek imit set.
              %td
                %i.fa.fa-paperclip
              %td.text-right.mail-date December 22
            %tr.read
              %td.check-mail
                %input.i-checks{:type => "checkbox"}/
              %td.mail-ontact
                %a{:href => "#{url_for :controller => 'mailbox', :action => 'email_view'}"} Monica Ryther
              %td.mail-subject
                %a{:href => "#{url_for :controller => 'mailbox', :action => 'email_view'}"} The standard chunk of Lorem Ipsum used.
              %td
              %td.text-right.mail-date Jun 12
            %tr.read
              %td.check-mail
                %input.i-checks{:type => "checkbox"}/
              %td.mail-ontact
                %a{:href => "#{url_for :controller => 'mailbox', :action => 'email_view'}"} Sandra Derick
              %td.mail-subject
                %a{:href => "#{url_for :controller => 'mailbox', :action => 'email_view'}"} Contrary to popular belief.
              %td
              %td.text-right.mail-date May 28
            %tr.read
              %td.check-mail
                %input.i-checks{:type => "checkbox"}/
              %td.mail-ontact
                %a{:href => "#{url_for :controller => 'mailbox', :action => 'email_view'}"} Patrick Pertners
                %span.label.label-info.pull-right Adv
              %td.mail-subject
                %a{:href => "#{url_for :controller => 'mailbox', :action => 'email_view'}"} If you are going to use a passage of Lorem
              %td
              %td.text-right.mail-date May 28
            %tr.read
              %td.check-mail
                %input.i-checks{:type => "checkbox"}/
              %td.mail-ontact
                %a{:href => "#{url_for :controller => 'mailbox', :action => 'email_view'}"} Michael Fox
              %td.mail-subject
                %a{:href => "#{url_for :controller => 'mailbox', :action => 'email_view'}"} Humour, or non-characteristic words etc.
              %td
              %td.text-right.mail-date Dec 9
            %tr.read
              %td.check-mail
                %input.i-checks{:type => "checkbox"}/
              %td.mail-ontact
                %a{:href => "#{url_for :controller => 'mailbox', :action => 'email_view'}"} Damien Ritz
              %td.mail-subject
                %a{:href => "#{url_for :controller => 'mailbox', :action => 'email_view'}"} Oor Lorem Ipsum is that it has a more-or-less normal.
              %td
              %td.text-right.mail-date Jun 11
            %tr.read
              %td.check-mail
                %input.i-checks{:type => "checkbox"}/
              %td.mail-ontact
                %a{:href => "#{url_for :controller => 'mailbox', :action => 'email_view'}"} Anna Smith
              %td.mail-subject
                %a{:href => "#{url_for :controller => 'mailbox', :action => 'email_view'}"} Lorem ipsum dolor noretek imit set.
              %td
                %i.fa.fa-paperclip
              %td.text-right.mail-date 6.10 AM
            %tr.read
              %td.check-mail
                %input.i-checks{:type => "checkbox"}/
              %td.mail-ontact
                %a{:href => "#{url_for :controller => 'mailbox', :action => 'email_view'}"} Jack Nowak
              %td.mail-subject
                %a{:href => "#{url_for :controller => 'mailbox', :action => 'email_view'}"} Aldus PageMaker including versions of Lorem Ipsum.
              %td
              %td.text-right.mail-date 8.22 PM
            %tr.read
              %td.check-mail
                %input.i-checks{:type => "checkbox"}/
              %td.mail-ontact
                %a{:href => "#{url_for :controller => 'mailbox', :action => 'email_view'}"} Mailchip
              %td.mail-subject
                %a{:href => "#{url_for :controller => 'mailbox', :action => 'email_view'}"} There are many variations of passages of Lorem Ipsum.
              %td
              %td.text-right.mail-date Mar 22
            %tr.read
              %td.check-mail
                %input.i-checks{:type => "checkbox"}/
              %td.mail-ontact
                %a{:href => "#{url_for :controller => 'mailbox', :action => 'email_view'}"} Alex T.
                %span.label.label-warning.pull-right Clients
              %td.mail-subject
                %a{:href => "#{url_for :controller => 'mailbox', :action => 'email_view'}"} Lorem ipsum dolor noretek imit set.
              %td
                %i.fa.fa-paperclip
              %td.text-right.mail-date December 22
            %tr.read
              %td.check-mail
                %input.i-checks{:type => "checkbox"}/
              %td.mail-ontact
                %a{:href => "#{url_for :controller => 'mailbox', :action => 'email_view'}"} Monica Ryther
              %td.mail-subject
                %a{:href => "#{url_for :controller => 'mailbox', :action => 'email_view'}"} The standard chunk of Lorem Ipsum used.
              %td
              %td.text-right.mail-date Jun 12
            %tr.read
              %td.check-mail
                %input.i-checks{:type => "checkbox"}/
              %td.mail-ontact
                %a{:href => "#{url_for :controller => 'mailbox', :action => 'email_view'}"} Sandra Derick
              %td.mail-subject
                %a{:href => "#{url_for :controller => 'mailbox', :action => 'email_view'}"} Contrary to popular belief.
              %td
              %td.text-right.mail-date May 28
            %tr.read
              %td.check-mail
                %input.i-checks{:type => "checkbox"}/
              %td.mail-ontact
                %a{:href => "#{url_for :controller => 'mailbox', :action => 'email_view'}"} Patrick Pertners
              %td.mail-subject
                %a{:href => "#{url_for :controller => 'mailbox', :action => 'email_view'}"} If you are going to use a passage of Lorem
              %td
              %td.text-right.mail-date May 28
            %tr.read
              %td.check-mail
                %input.i-checks{:type => "checkbox"}/
              %td.mail-ontact
                %a{:href => "#{url_for :controller => 'mailbox', :action => 'email_view'}"} Michael Fox
              %td.mail-subject
                %a{:href => "#{url_for :controller => 'mailbox', :action => 'email_view'}"} Humour, or non-characteristic words etc.
              %td
              %td.text-right.mail-date Dec 9
            %tr.read
              %td.check-mail
                %input.i-checks{:type => "checkbox"}/
              %td.mail-ontact
                %a{:href => "#{url_for :controller => 'mailbox', :action => 'email_view'}"} Damien Ritz
              %td.mail-subject
                %a{:href => "#{url_for :controller => 'mailbox', :action => 'email_view'}"} Oor Lorem Ipsum is that it has a more-or-less normal.
              %td
              %td.text-right.mail-date Jun 11
- content_for :javascript do
  :javascript
    $(function() {
    
        $('.i-checks').iCheck({
            checkboxClass: 'icheckbox_square-green',
            radioClass: 'iradio_square-green',
        });
    
    });
