.row.wrapper.border-bottom.white-bg.page-heading
  .col-sm-4
    %h2 Forum - post view
    %ol.breadcrumb
      %li
        %a{:href => "#{url_for :controller => 'dashboards', :action => 'dashboard_1'}"} Home
      %li.active
        %strong Forum - post view
.row
  .col-lg-12
    .wrapper.wrapper-content.animated.fadeInRight
      .ibox-content.forum-post-container
        .forum-post-info
          %h4
            %span.text-navy
              %i.fa.fa-globe
              General discussion
            \- Announcements -
            %span.text-muted Free talks
        .media
          %a.forum-avatar{:href => "#"}
            %img.img-circle{:alt => "image", :src => "#{image_path('a1.jpg')}"}/
            .author-info
              %strong Posts:
              542
              %br/
              %strong Joined:
              April 11.2015
              %br/
          .media-body
            %h4.media-heading The standard chunk of Lorem Ipsum
            Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old.
            %br/
            %br/
            Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.
            %br/
            %br/
            \- Mike Smith
            CEO, Zender Inc.
        .media
          %a.forum-avatar{:href => "#"}
            %img.img-circle{:alt => "image", :src => "#{image_path('a2.jpg')}"}/
            .author-info
              %strong Posts:
              32
              %br/
              %strong Joined:
              Dec 11.2015
              %br/
          .media-body
            %h4.media-heading There are many variations of passages of Lorem Ipsum available
            Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet. It uses a dictionary of over 200 Latin words, combined with a handful of model sentence structures
            %br/
            %br/
            \- Alex Kunter
            Designer, Kurtner Company
        .media
          %a.forum-avatar{:href => "#"}
            %img.img-circle{:alt => "image", :src => "#{image_path('a3.jpg')}"}/
            .author-info
              %strong Posts:
              543
              %br/
              %strong Joined:
              June 21.2015
              %br/
          .media-body
            %h4.media-heading Hampden-Sydney College in Virginia
            All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet. It uses a dictionary of over 200 Latin words, combined with a handful of model sentence structures
            %br/
            %br/
            \- Monica Jackson
            UX developer
        .media
          %a.forum-avatar{:href => "#"}
            %img.img-circle{:alt => "image", :src => "#{image_path('a4.jpg')}"}/
            .author-info
              %strong Posts:
              72
              %br/
              %strong Joined:
              March 08.2015
              %br/
          .media-body
            %h4.media-heading Suffered alteration in some form,
            All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet. It uses a dictionary of over 200 Latin words, combined with a handful of model sentence structures
            %br/
            %br/
            \- John Ken
            UX/UI developer
            .media
              %a.forum-avatar{:href => "#"}
                %img.img-circle{:alt => "image", :src => "#{image_path('a7.jpg')}"}/
                .author-info
                  %strong Posts:
                  253
                  %br/
                  %strong Joined:
                  Oct 08.2015
                  %br/
              .media-body
                %h4.media-heading Latin words, combined with a handful of mode
                Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy.
                .photos
                  %a{:href => "http://24.media.tumblr.com/20a9c501846f50c1271210639987000f/tumblr_n4vje69pJm1st5lhmo1_1280.jpg", :target => "_blank"}
                    %img.forum-photo{:alt => "image", :src => "#{image_path('p1.jpg')}"}/
                  %a{:href => "http://37.media.tumblr.com/9afe602b3e624aff6681b0b51f5a062b/tumblr_n4ef69szs71st5lhmo1_1280.jpg", :target => "_blank"}
                    %img.forum-photo{:alt => "image", :src => "#{image_path('p3.jpg')}"}/
                Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).
                %br/
                %br/
                \- Adam Smith
                CEO
            .media
              %a.forum-avatar{:href => "#"}
                %img.img-circle{:alt => "image", :src => "#{image_path('a8.jpg')}"}/
                .author-info
                  %strong Posts:
                  431
                  %br/
                  %strong Joined:
                  March 25.2015
                  %br/
              .media-body
                %h4.media-heading Virginia, looked up one of the more obscure Latin words
                Distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using
                %br/
                %br/
                Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet. It uses a dictionary of over 200 Latin words
                %br/
                %br/
                \- Sandra Jackson
                UI developer
