.row.wrapper.border-bottom.white-bg.page-heading
  .col-sm-4
    %h2 Forum
    %ol.breadcrumb
      %li
        %a{:href => "#{url_for :controller => 'dashboards', :action => 'dashboard_1'}"} Home
      %li.active
        %strong Forum
.row
  .col-lg-12
    .wrapper.wrapper-content.animated.fadeInRight
      .ibox-content.m-b-sm.border-bottom
        .p-xs
          .pull-left.m-r-md
            %i.fa.fa-globe.text-navy.mid-icon
          %h2 Welcome in Inspinia Forum
          %span Feel free to choose topic you're interested in.
      .ibox-content.forum-container
        .forum-title
          .pull-right.forum-desc
            %samll Total posts: 320,800
          %h3 General subjects
        .forum-item.active
          .row
            .col-md-9
              .forum-icon
                %i.fa.fa-shield
              %a.forum-item-title{:href => "#{url_for :controller => 'miscellaneous', :action => 'forum_post_view'}"} General Discussion
              .forum-sub-title Talk about sports, entertainment, music, movies, your favorite color, talk about enything.
            .col-md-1.forum-info
              %span.views-number
                1216
              %div
                %small Views
            .col-md-1.forum-info
              %span.views-number
                368
              %div
                %small Topics
            .col-md-1.forum-info
              %span.views-number
                140
              %div
                %small Posts
        .forum-item
          .row
            .col-md-9
              .forum-icon
                %i.fa.fa-bolt
              %a.forum-item-title{:href => "#{url_for :controller => 'miscellaneous', :action => 'forum_post_view'}"} Introductions
              .forum-sub-title New to the community? Please stop by, say hi and tell us a bit about yourself.
            .col-md-1.forum-info
              %span.views-number
                890
              %div
                %small Views
            .col-md-1.forum-info
              %span.views-number
                120
              %div
                %small Topics
            .col-md-1.forum-info
              %span.views-number
                154
              %div
                %small Posts
        .forum-item.active
          .row
            .col-md-9
              .forum-icon
                %i.fa.fa-calendar
              %a.forum-item-title{:href => "#{url_for :controller => 'miscellaneous', :action => 'forum_post_view'}"} Announcements
              .forum-sub-title This forum features announcements from the community staff. If there is a new post in this forum, please check it out.
            .col-md-1.forum-info
              %span.views-number
                680
              %div
                %small Views
            .col-md-1.forum-info
              %span.views-number
                124
              %div
                %small Topics
            .col-md-1.forum-info
              %span.views-number
                61
              %div
                %small Posts
        .forum-item
          .row
            .col-md-9
              .forum-icon
                %i.fa.fa-star
              %a.forum-item-title{:href => "#{url_for :controller => 'miscellaneous', :action => 'forum_post_view'}"} Staff Discussion
              .forum-sub-title This forum is for private, staff member only discussions, usually pertaining to the community itself.
            .col-md-1.forum-info
              %span.views-number
                1450
              %div
                %small Views
            .col-md-1.forum-info
              %span.views-number
                652
              %div
                %small Topics
            .col-md-1.forum-info
              %span.views-number
                572
              %div
                %small Posts
        .forum-title
          .pull-right.forum-desc
            %samll Total posts: 17,800,600
          %h3 Other subjects
        .forum-item
          .row
            .col-md-9
              .forum-icon
                %i.fa.fa-clock-o
              %a.forum-item-title{:href => "#{url_for :controller => 'miscellaneous', :action => 'forum_post_view'}"} Lorem Ipsum is simply dummy text.
              .forum-sub-title Various versions have evolved over the years, sometimes by accident, sometimes on purpose passage of Lorem Ipsum (injected humour and the like).
            .col-md-1.forum-info
              %span.views-number
                1516
              %div
                %small Views
            .col-md-1.forum-info
              %span.views-number
                238
              %div
                %small Topics
            .col-md-1.forum-info
              %span.views-number
                180
              %div
                %small Posts
        .forum-item
          .row
            .col-md-9
              .forum-icon
                %i.fa.fa-bomb
              %a.forum-item-title{:href => "#{url_for :controller => 'miscellaneous', :action => 'forum_post_view'}"} There are many variations of passages
              .forum-sub-title If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the .
            .col-md-1.forum-info
              %span.views-number
                1766
              %div
                %small Views
            .col-md-1.forum-info
              %span.views-number
                321
              %div
                %small Topics
            .col-md-1.forum-info
              %span.views-number
                42
              %div
                %small Posts
        .forum-item
          .row
            .col-md-9
              .forum-icon
                %i.fa.fa-bookmark
              %a.forum-item-title{:href => "#{url_for :controller => 'miscellaneous', :action => 'forum_post_view'}"} The standard chunk of Lorem Ipsum
              .forum-sub-title Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet.
            .col-md-1.forum-info
              %span.views-number
                765
              %div
                %small Views
            .col-md-1.forum-info
              %span.views-number
                90
              %div
                %small Topics
            .col-md-1.forum-info
              %span.views-number
                11
              %div
                %small Posts
        .forum-item
          .row
            .col-md-9
              .forum-icon
                %i.fa.fa-ambulance
              %a.forum-item-title{:href => "#{url_for :controller => 'miscellaneous', :action => 'forum_post_view'}"} Lorem Ipsum, you need to be sure there
              .forum-sub-title Internet tend to repeat predefined chunks as necessary, making this the
            .col-md-1.forum-info
              %span.views-number
                2550
              %div
                %small Views
            .col-md-1.forum-info
              %span.views-number
                122
              %div
                %small Topics
            .col-md-1.forum-info
              %span.views-number
                92
              %div
                %small Posts
