.row.wrapper.border-bottom.white-bg.page-heading
  .col-lg-10
    %h2 Basic Gallery
    %ol.breadcrumb
      %li
        %a{:href => ""} Home
      %li
        %a Gallery
      %li.active
        %strong Basic Gallery
  .col-lg-2
.wrapper.wrapper-content
  .row
    .col-lg-12
      .ibox.float-e-margins
        .ibox-content
          %h2 Lightbox image gallery
          %p
            %strong blueimp Gallery
            is a touch-enabled, responsive and customizable image &amp; video gallery, carousel and lightbox, optimized for both mobile and desktop web browsers.
            It features swipe, mouse and keyboard navigation, transition effects, slideshow functionality, fullscreen support and on-demand content loading and can be extended to display additional content types.
            Full documentation you can find at:
            %a{:href => "https://github.com/blueimp/Gallery/blob/master/README.md", :target => "_blank"} https://github.com/blueimp/Gallery/blob/master/README.md
          .lightBoxGallery
            %a{"data-gallery" => "", :href => "#{image_path('gallery/1.jpg')}", :title => "Image from Unsplash"}
              %img{:src => "#{image_path('gallery/1s.jpg')}"}/
            %a{"data-gallery" => "", :href => "#{image_path('gallery/2.jpg')}", :title => "Image from Unsplash"}
              %img{:src => "#{image_path('gallery/2s.jpg')}"}/
            %a{"data-gallery" => "", :href => "#{image_path('gallery/3.jpg')}", :title => "Image from Unsplash"}
              %img{:src => "#{image_path('gallery/3s.jpg')}"}/
            %a{"data-gallery" => "", :href => "#{image_path('gallery/4.jpg')}", :title => "Image from Unsplash"}
              %img{:src => "#{image_path('gallery/4s.jpg')}"}/
            %a{"data-gallery" => "", :href => "#{image_path('gallery/5.jpg')}", :title => "Image from Unsplash"}
              %img{:src => "#{image_path('gallery/5s.jpg')}"}/
            %a{"data-gallery" => "", :href => "#{image_path('gallery/6.jpg')}", :title => "Image from Unsplash"}
              %img{:src => "#{image_path('gallery/6s.jpg')}"}/
            %a{"data-gallery" => "", :href => "#{image_path('gallery/7.jpg')}", :title => "Image from Unsplash"}
              %img{:src => "#{image_path('gallery/7s.jpg')}"}/
            %a{"data-gallery" => "", :href => "#{image_path('gallery/8.jpg')}", :title => "Image from Unsplash"}
              %img{:src => "#{image_path('gallery/8s.jpg')}"}/
            %a{"data-gallery" => "", :href => "#{image_path('gallery/9.jpg')}", :title => "Image from Unsplash"}
              %img{:src => "#{image_path('gallery/9s.jpg')}"}/
            %a{"data-gallery" => "", :href => "#{image_path('gallery/10.jpg')}", :title => "Image from Unsplash"}
              %img{:src => "#{image_path('gallery/10s.jpg')}"}/
            %a{"data-gallery" => "", :href => "#{image_path('gallery/11.jpg')}", :title => "Image from Unsplash"}
              %img{:src => "#{image_path('gallery/11s.jpg')}"}/
            %a{"data-gallery" => "", :href => "#{image_path('gallery/4.jpg')}", :title => "Image from Unsplash"}
              %img{:src => "#{image_path('gallery/4s.jpg')}"}/
            %a{"data-gallery" => "", :href => "#{image_path('gallery/5.jpg')}", :title => "Image from Unsplash"}
              %img{:src => "#{image_path('gallery/5s.jpg')}"}/
            %a{"data-gallery" => "", :href => "#{image_path('gallery/6.jpg')}", :title => "Image from Unsplash"}
              %img{:src => "#{image_path('gallery/6s.jpg')}"}/
            %a{"data-gallery" => "", :href => "#{image_path('gallery/7.jpg')}", :title => "Image from Unsplash"}
              %img{:src => "#{image_path('gallery/7s.jpg')}"}/
            %a{"data-gallery" => "", :href => "#{image_path('gallery/2.jpg')}", :title => "Image from Unsplash"}
              %img{:src => "#{image_path('gallery/2s.jpg')}"}/
            %a{"data-gallery" => "", :href => "#{image_path('gallery/3.jpg')}", :title => "Image from Unsplash"}
              %img{:src => "#{image_path('gallery/3s.jpg')}"}/
            %a{"data-gallery" => "", :href => "#{image_path('gallery/1.jpg')}", :title => "Image from Unsplash"}
              %img{:src => "#{image_path('gallery/1s.jpg')}"}/
            %a{"data-gallery" => "", :href => "#{image_path('gallery/9.jpg')}", :title => "Image from Unsplash"}
              %img{:src => "#{image_path('gallery/9s.jpg')}"}/
            %a{"data-gallery" => "", :href => "#{image_path('gallery/11.jpg')}", :title => "Image from Unsplash"}
              %img{:src => "#{image_path('gallery/11s.jpg')}"}/
            %a{"data-gallery" => "", :href => "#{image_path('gallery/12.jpg')}", :title => "Image from Unsplash"}
              %img{:src => "#{image_path('gallery/12s.jpg')}"}/
            %a{"data-gallery" => "", :href => "#{image_path('gallery/4.jpg')}", :title => "Image from Unsplash"}
              %img{:src => "#{image_path('gallery/4s.jpg')}"}/
            %a{"data-gallery" => "", :href => "#{image_path('gallery/5.jpg')}", :title => "Image from Unsplash"}
              %img{:src => "#{image_path('gallery/5s.jpg')}"}/
            %a{"data-gallery" => "", :href => "#{image_path('gallery/6.jpg')}", :title => "Image from Unsplash"}
              %img{:src => "#{image_path('gallery/6s.jpg')}"}/
            %a{"data-gallery" => "", :href => "#{image_path('gallery/12.jpg')}", :title => "Image from Unsplash"}
              %img{:src => "#{image_path('gallery/12s.jpg')}"}/
            %a{"data-gallery" => "", :href => "#{image_path('gallery/4.jpg')}", :title => "Image from Unsplash"}
              %img{:src => "#{image_path('gallery/4s.jpg')}"}/
            %a{"data-gallery" => "", :href => "#{image_path('gallery/5.jpg')}", :title => "Image from Unsplash"}
              %img{:src => "#{image_path('gallery/5s.jpg')}"}/
            %a{"data-gallery" => "", :href => "#{image_path('gallery/10.jpg')}", :title => "Image from Unsplash"}
              %img{:src => "#{image_path('gallery/10s.jpg')}"}/
            %a{"data-gallery" => "", :href => "#{image_path('gallery/1.jpg')}", :title => "Image from Unsplash"}
              %img{:src => "#{image_path('gallery/1s.jpg')}"}/
            %a{"data-gallery" => "", :href => "#{image_path('gallery/2.jpg')}", :title => "Image from Unsplash"}
              %img{:src => "#{image_path('gallery/2s.jpg')}"}/
            %a{"data-gallery" => "", :href => "#{image_path('gallery/3.jpg')}", :title => "Image from Unsplash"}
              %img{:src => "#{image_path('gallery/3s.jpg')}"}/
            %a{"data-gallery" => "", :href => "#{image_path('gallery/4.jpg')}", :title => "Image from Unsplash"}
              %img{:src => "#{image_path('gallery/4s.jpg')}"}/
            %a{"data-gallery" => "", :href => "#{image_path('gallery/5.jpg')}", :title => "Image from Unsplash"}
              %img{:src => "#{image_path('gallery/5s.jpg')}"}/
            %a{"data-gallery" => "", :href => "#{image_path('gallery/6.jpg')}", :title => "Image from Unsplash"}
              %img{:src => "#{image_path('gallery/6s.jpg')}"}/
            %a{"data-gallery" => "", :href => "#{image_path('gallery/7.jpg')}", :title => "Image from Unsplash"}
              %img{:src => "#{image_path('gallery/7s.jpg')}"}/
            %a{"data-gallery" => "", :href => "#{image_path('gallery/8.jpg')}", :title => "Image from Unsplash"}
              %img{:src => "#{image_path('gallery/8s.jpg')}"}/
            %a{"data-gallery" => "", :href => "#{image_path('gallery/9.jpg')}", :title => "Image from Unsplash"}
              %img{:src => "#{image_path('gallery/9s.jpg')}"}/
            %a{"data-gallery" => "", :href => "#{image_path('gallery/11.jpg')}", :title => "Image from Unsplash"}
              %img{:src => "#{image_path('gallery/11s.jpg')}"}/
            %a{"data-gallery" => "", :href => "#{image_path('gallery/12.jpg')}", :title => "Image from Unsplash"}
              %img{:src => "#{image_path('gallery/12s.jpg')}"}/
            %a{"data-gallery" => "", :href => "#{image_path('gallery/4.jpg')}", :title => "Image from Unsplash"}
              %img{:src => "#{image_path('gallery/4s.jpg')}"}/
            %a{"data-gallery" => "", :href => "#{image_path('gallery/5.jpg')}", :title => "Image from Unsplash"}
              %img{:src => "#{image_path('gallery/5s.jpg')}"}/
            %a{"data-gallery" => "", :href => "#{image_path('gallery/6.jpg')}", :title => "Image from Unsplash"}
              %img{:src => "#{image_path('gallery/6s.jpg')}"}/
            %a{"data-gallery" => "", :href => "#{image_path('gallery/7.jpg')}", :title => "Image from Unsplash"}
              %img{:src => "#{image_path('gallery/7s.jpg')}"}/
            %a{"data-gallery" => "", :href => "#{image_path('gallery/2.jpg')}", :title => "Image from Unsplash"}
              %img{:src => "#{image_path('gallery/2s.jpg')}"}/
            %a{"data-gallery" => "", :href => "#{image_path('gallery/3.jpg')}", :title => "Image from Unsplash"}
              %img{:src => "#{image_path('gallery/3s.jpg')}"}/
            %a{"data-gallery" => "", :href => "#{image_path('gallery/1.jpg')}", :title => "Image from Unsplash"}
              %img{:src => "#{image_path('gallery/1s.jpg')}"}/
            %a{"data-gallery" => "", :href => "#{image_path('gallery/9.jpg')}", :title => "Image from Unsplash"}
              %img{:src => "#{image_path('gallery/9s.jpg')}"}/
            %a{"data-gallery" => "", :href => "#{image_path('gallery/10.jpg')}", :title => "Image from Unsplash"}
              %img{:src => "#{image_path('gallery/10s.jpg')}"}/
            %a{"data-gallery" => "", :href => "#{image_path('gallery/11.jpg')}", :title => "Image from Unsplash"}
              %img{:src => "#{image_path('gallery/11s.jpg')}"}/
            %a{"data-gallery" => "", :href => "#{image_path('gallery/12.jpg')}", :title => "Image from Unsplash"}
              %img{:src => "#{image_path('gallery/12s.jpg')}"}/
            %a{"data-gallery" => "", :href => "#{image_path('gallery/4.jpg')}", :title => "Image from Unsplash"}
              %img{:src => "#{image_path('gallery/4s.jpg')}"}/
            %a{"data-gallery" => "", :href => "#{image_path('gallery/5.jpg')}", :title => "Image from Unsplash"}
              %img{:src => "#{image_path('gallery/5s.jpg')}"}/
            %a{"data-gallery" => "", :href => "#{image_path('gallery/6.jpg')}", :title => "Image from Unsplash"}
              %img{:src => "#{image_path('gallery/6s.jpg')}"}/
            %a{"data-gallery" => "", :href => "#{image_path('gallery/12.jpg')}", :title => "Image from Unsplash"}
              %img{:src => "#{image_path('gallery/12s.jpg')}"}/
            %a{"data-gallery" => "", :href => "#{image_path('gallery/4.jpg')}", :title => "Image from Unsplash"}
              %img{:src => "#{image_path('gallery/4s.jpg')}"}/
            %a{"data-gallery" => "", :href => "#{image_path('gallery/5.jpg')}", :title => "Image from Unsplash"}
              %img{:src => "#{image_path('gallery/5s.jpg')}"}/
            %a{"data-gallery" => "", :href => "#{image_path('gallery/10.jpg')}", :title => "Image from Unsplash"}
              %img{:src => "#{image_path('gallery/10s.jpg')}"}/
            %a{"data-gallery" => "", :href => "#{image_path('gallery/1.jpg')}", :title => "Image from Unsplash"}
              %img{:src => "#{image_path('gallery/1s.jpg')}"}/
            %a{"data-gallery" => "", :href => "#{image_path('gallery/2.jpg')}", :title => "Image from Unsplash"}
              %img{:src => "#{image_path('gallery/2s.jpg')}"}/
            %a{"data-gallery" => "", :href => "#{image_path('gallery/3.jpg')}", :title => "Image from Unsplash"}
              %img{:src => "#{image_path('gallery/3s.jpg')}"}/
            %a{"data-gallery" => "", :href => "#{image_path('gallery/4.jpg')}", :title => "Image from Unsplash"}
              %img{:src => "#{image_path('gallery/4s.jpg')}"}/
            %a{"data-gallery" => "", :href => "#{image_path('gallery/5.jpg')}", :title => "Image from Unsplash"}
              %img{:src => "#{image_path('gallery/5s.jpg')}"}/
            %a{"data-gallery" => "", :href => "#{image_path('gallery/6.jpg')}", :title => "Image from Unsplash"}
              %img{:src => "#{image_path('gallery/6s.jpg')}"}/
            %a{"data-gallery" => "", :href => "#{image_path('gallery/7.jpg')}", :title => "Image from Unsplash"}
              %img{:src => "#{image_path('gallery/7s.jpg')}"}/
            %a{"data-gallery" => "", :href => "#{image_path('gallery/8.jpg')}", :title => "Image from Unsplash"}
              %img{:src => "#{image_path('gallery/8s.jpg')}"}/
            %a{"data-gallery" => "", :href => "#{image_path('gallery/9.jpg')}", :title => "Image from Unsplash"}
              %img{:src => "#{image_path('gallery/9s.jpg')}"}/
            %a{"data-gallery" => "", :href => "#{image_path('gallery/10.jpg')}", :title => "Image from Unsplash"}
              %img{:src => "#{image_path('gallery/10s.jpg')}"}/
            %a{"data-gallery" => "", :href => "#{image_path('gallery/11.jpg')}", :title => "Image from Unsplash"}
              %img{:src => "#{image_path('gallery/11s.jpg')}"}/
            %a{"data-gallery" => "", :href => "#{image_path('gallery/12.jpg')}", :title => "Image from Unsplash"}
              %img{:src => "#{image_path('gallery/12s.jpg')}"}/
            / The Gallery as lightbox dialog, should be a child element of the document body
            #blueimp-gallery.blueimp-gallery
              .slides
              %h3.title
              %a.prev ‹
              %a.next ›
              %a.close ×
              %a.play-pause
              %ol.indicator
