.row.wrapper.border-bottom.white-bg.page-heading
  .col-lg-9
    %h2 Carousel
    %ol.breadcrumb
      %li
        %a{:href => "#{url_for :controller => 'dashboards', :action => 'dashboard_1'}"} Home
      %li
        UI Elements
      %li.active
        %strong Carousel
.wrapper.wrapper-content
  .row
    .col-lg-5
      .ibox.float-e-margins
        .ibox-title
          %h5 Animation without caption
          .ibox-tools
            %a.collapse-link
              %i.fa.fa-chevron-up
            %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
              %i.fa.fa-wrench
            %ul.dropdown-menu.dropdown-user
              %li
                %a{:href => "#"} Config option 1
              %li
                %a{:href => "#"} Config option 2
            %a.close-link
              %i.fa.fa-times
        .ibox-content
          #carousel1.carousel.slide
            .carousel-inner
              .item.active
                %img.img-responsive{:alt => "image", :src => "#{image_path('p_big3.jpg')}"}/
              .item
                %img.img-responsive{:alt => "image", :src => "#{image_path('p_big1.jpg')}"}/
              .item
                %img.img-responsive{:alt => "image", :src => "#{image_path('p_big2.jpg')}"}/
            %a.left.carousel-control{"data-slide" => "prev", :href => "#carousel1"}
              %span.icon-prev
            %a.right.carousel-control{"data-slide" => "next", :href => "#carousel1"}
              %span.icon-next
    .col-lg-7
      .ibox.float-e-margins
        .ibox-title
          %h5 Animation and Caption
          .ibox-tools
            %a.collapse-link
              %i.fa.fa-chevron-up
            %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
              %i.fa.fa-wrench
            %ul.dropdown-menu.dropdown-user
              %li
                %a{:href => "#"} Config option 1
              %li
                %a{:href => "#"} Config option 2
            %a.close-link
              %i.fa.fa-times
        .ibox-content
          #carousel2.carousel.slide
            %ol.carousel-indicators
              %li.active{"data-slide-to" => "0", "data-target" => "#carousel2"}
              %li{"data-slide-to" => "1", "data-target" => "#carousel2"}
              %li{"data-slide-to" => "2", "data-target" => "#carousel2"}
            .carousel-inner
              .item.active
                %img.img-responsive{:alt => "image", :src => "#{image_path('p_big1.jpg')}"}/
                .carousel-caption
                  %p This is simple caption 1
              .item
                %img.img-responsive{:alt => "image", :src => "#{image_path('p_big3.jpg')}"}/
                .carousel-caption
                  %p This is simple caption 2
              .item
                %img.img-responsive{:alt => "image", :src => "#{image_path('p_big2.jpg')}"}/
                .carousel-caption
                  %p This is simple caption 3
            %a.left.carousel-control{"data-slide" => "prev", :href => "#carousel2"}
              %span.icon-prev
            %a.right.carousel-control{"data-slide" => "next", :href => "#carousel2"}
              %span.icon-next
  .row
    .col-lg-12
      .ibox.float-e-margins
        .ibox-title
          %h5 Big gallery carousel
          .ibox-tools
            %a.collapse-link
              %i.fa.fa-chevron-up
            %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
              %i.fa.fa-wrench
            %ul.dropdown-menu.dropdown-user
              %li
                %a{:href => "#"} Config option 1
              %li
                %a{:href => "#"} Config option 2
            %a.close-link
              %i.fa.fa-times
        .ibox-content
          #carousel3.carousel.slide
            .carousel-inner
              .item.gallery.active.left
                .row
                  .col-sm-6
                    %img.img-responsive{:alt => "image", :src => "#{image_path('p_big1.jpg')}"}/
                  .col-sm-6
                    %img.img-responsive{:alt => "image", :src => "#{image_path('p_big2.jpg')}"}/
                  .col-sm-6
                    %img.img-responsive{:alt => "image", :src => "#{image_path('p_big3.jpg')}"}/
                  .col-sm-6
                    %img.img-responsive{:alt => "image", :src => "#{image_path('p_big1.jpg')}"}/
              .item.gallery.next.left
                .row
                  .col-sm-6
                    %img.img-responsive{:alt => "image", :src => "#{image_path('p_big3.jpg')}"}/
                  .col-sm-6
                    %img.img-responsive{:alt => "image", :src => "#{image_path('p_big1.jpg')}"}/
                  .col-sm-6
                    %img.img-responsive{:alt => "image", :src => "#{image_path('p_big2.jpg')}"}/
                  .col-sm-6
                    %img.img-responsive{:alt => "image", :src => "#{image_path('p_big1.jpg')}"}/
              .item.gallery
                .row
                  .col-sm-6
                    %img.img-responsive{:alt => "image", :src => "#{image_path('p_big2.jpg')}"}/
                  .col-sm-6
                    %img.img-responsive{:alt => "image", :src => "#{image_path('p_big3.jpg')}"}/
                  .col-sm-6
                    %img.img-responsive{:alt => "image", :src => "#{image_path('p_big1.jpg')}"}/
                  .col-sm-6
                    %img.img-responsive{:alt => "image", :src => "#{image_path('p_big2.jpg')}"}/
            %a.left.carousel-control{"data-slide" => "prev", :href => "#carousel3"}
              %span.icon-prev
            %a.right.carousel-control{"data-slide" => "next", :href => "#carousel3"}
              %span.icon-next
